<% [:notice, :error, :success, :warning ,:info, :alert].each do |mes| %>
  <% if flash[mes] %>
  <div class="alert alert-<%= (mes == :notice ? 'info' : mes.to_s) %>">
    <a class="close">&times;</a>
    <strong><%= flash[mes] %></strong>
  </div>
  <% end %>
<% end %>
