<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <% content_for :stylesheet do %>
    <%= stylesheet_link_tag "static_pages" %>
    <% end %>
    <% content_for :js_footer do %>
    <%= javascript_include_tag "static_pages", "bootstrap.min" %>
    <% end %>
  </head>
  <body>
    <div class="container clearfix">
      <div class="row">
        <div class="center-container">
          <div class="accordion" id="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Heading 1
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod adipiscing magna at posuere. Duis aliquet sapien enim, et facilisis sapien. Cras turpis elit, facilisis et ultrices id, tincidunt sit amet mi. Pellentesque at justo augue, vel semper dolor. Nulla facilisi.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  Heading 1
                </a>
              </div>
              <div class="collapse" id="collapseTwo">
                <div class="accordion-inner">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod adipiscing magna at posuere. Duis aliquet sapien enim, et facilisis sapien. Cras turpis elit, facilisis et ultrices id, tincidunt sit amet mi. Pellentesque at justo augue, vel semper dolor. Nulla facilisi.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  Heading 1
                </a>
              </div>
              <div class="collapse" id="collapseThree">
                <div class="accordion-inner">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod adipiscing magna at posuere. Duis aliquet sapien enim, et facilisis sapien. Cras turpis elit, facilisis et ultrices id, tincidunt sit amet mi. Pellentesque at justo augue, vel semper dolor. Nulla facilisi.
                </div>
              </div>
            </div>
          </div> <!-- accordion -->
        </div> <!-- div.center-container -->
      </div> <!-- div.row -->
    </div> <!-- div.container -->    
  </body>
</html>
