<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <% content_for :stylesheet do %>
    <%= stylesheet_link_tag "static_pages" %>
    <% end %>
    <% content_for :js_footer do %>
    <%= javascript_include_tag "static_pages", "bootstrap.min" %>
    <% end %>
  </head>
  <body>
    <div class="container clearfix">
      <div class="row">
        <div class="center-container">
          <div class="accordion" id="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <img src="/assets/minus-icon.png" class="close-box" />What is AapAurMain ?
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  Simple – Answer to the decade long challenge of discovering people you want to interact more on terms that you value and are your priorities.
                  AapAurMain is the next generation social platform to interact opinionated, different yet grounded people.
                  <br/><br/>
                  Now you can express your priorities in an ongoing manner, moving away from long uninteresting forms, create your own persona on the go and have fun while interacting with new people.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  <img src="/assets/minus-icon.png" class="close-box" />How are we different ?
                </a>
              </div>
              <div class="collapse" id="collapseTwo">
                <div class="accordion-inner">
                  You share your opinion , create a story on your priorities. People respond to your story, have discussions. You like someone for their opinions / priorities and you are free to go ahead and interact with the person  - Send a request / follow their activities / rate them / interact with them on the social panels – its totally upto you to take it forward with your interests
                  <br/><br/>
                  Being the first social matrimonial platform we enable you to follow other’s activities –we empower you with taking your own time to decide
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  <img src="/assets/minus-icon.png" class="close-box" />What to do here ?
                </a>
              </div>
              <div class="collapse" id="collapseThree">
                <div class="accordion-inner">
                  <ul>
                    <li>Create your profile – tell us some basic things about you and you are started</li>
                    <li>Choose panels that you would prefer talking about and may want to know people around</li>
                    <li>Create stories / share opinions on those Social Discussion Panels – read your priorities</li>
                    <li>People discover your presence, you discover people who are active and Bingo! You know people you want to know better</li>
                    <li>Follow their activities or Send them request – there begins the story of Aap Aur Main coming together for the next level ride</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  <img src="/assets/minus-icon.png" class="close-box" />What is the catch ?
                </a>
              </div>
              <div class="collapse" id="collapseTwo">
                <div class="accordion-inner">
                  Your involvement is your key to be more visible, reach more people, and have a greater impact!
                  <br/><br/>
                  Go ahead and start your journey on a platform that is beyond finding a partner.
                </div>
              </div>
            </div>
          </div> <!-- accordion -->
        </div> <!-- div.center-container -->
      </div> <!-- div.row -->
    </div> <!-- div.container -->    
  </body>
</html>
