<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>

<%= stylesheet_link_tag "contact" %>
<title>Aap Aur Main - Contact Us</title>

</head>

<body>
  <div class="container aboutusContainer"> 
    <img src="assets/contact.png">
    <div class="aboutusHeading"><span>Talk To Us</span></div>
    <div class="answer">
      <p>
        We put in every effort to make your experience at AapAurMain.com smooth and meaningful. We have ourselves felt the pains of going through a bad experience on portals and understand the importance of simplicity and support in ensuring the objectives are met. 
      </p>
      <p>
        Just in case you feel there is something where we can do that tad bit better, shout out at <a href="mailto:talktous@aapaurmain.com">talktous</a> and we will make sure to reply to you at the earliest. Though we try to keep the response time as short as possible; however would request you to bear with us for 24 hours response window for resolution of queries.
      </p>

      <p>
        Hope you have a great journey with us and write your amazing chapter here! :) 
      </p>
    </div> <!-- div.answer -->
  </div> <!-- div.aboutUsContainer -->
</body>
</html>
