<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>
      Aap Aur Main-Copyright Disclaimers
    </title>
    <style>
     body {
       background: url('assets/denim-bg.png');
       color: white;
     }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div id="content">
        <h1 class="heading">
          FAQs
        </h1>
        <div id="demo2" class="demo">
          <!--start from here-->
          <h2>
            Sign Up
          </h2>
          <div class="expand">
            Copyright &amp; Website Disclaimer
          </div>
          <div class="collapse">
            <p>
              Copyright notice: This website and its content is copyright of AapAurMain.com - &copy; PURPLEROCK ONLINE SERVICES 2012. All rights reserved. Any redistribution or reproduction of part or all of the contents in any form is prohibited other than the following: You may print or download to a local hard disk extracts for your personal and non-commercial use only You may copy the content to individual third parties for their personal use, but only if you acknowledge the website as the source of the material. You may not, except with our express written permission, distribute or commercially exploit the content. Nor may you transmit it or store it in any other website or other form of electronic retrieval system.
            </p>
          </div>
          <p>
            Earnings Disclaimer: Income Disclaimer: This website and the items it distributes contain business strategies, marketing methods and other business advice that, regardless of my own results and experience, may not produce the same results (or any results) for you. AapAurMain.com makes absolutely no guarantee, expressed or implied, that by following the advice or content available from this web site you will make any money or improve current profits, as there are several factors and variables that come into play regarding any given business. Primarily, results will depend on the nature of the product or business model, the conditions of the marketplace, the experience of the individuaL, and situations and elements that are beyond your control. As with any business endeavour, you assume all risk related to investment and money based on your own discretion and at your own potential expense.
          </p>
        </div>Liability Disclaimer: By reading this website or the documents it offers, you assume all risks associated with using the advice given, with a full understanding that you, solely, are responsible for anything that may occur as a result of putting this information into action in any way, and regardless of your interpretation of the advice. You further agree that our company cannot be held responsible in any way for the success or failure of your business as a result of the information provided by our company. It is your responsibility to conduct your own due diligence regarding the safe and successful operation of your business if you intend to apply any of our information in any way to your business operations. In summary, you understand that we make absolutely no guarantees regarding income as a result of applying this information, as well as the fact that you are solely responsible for the results of any action taken on your part as a result of any given information. In addition, for all intents and purposes you agree that our content is to be considered "for entertainment purposes only". Always seek the advice of a professional when making financial, tax or business decisions. .
      </div>
      <p>
        Website disclaimer: The information contained in this website is for general information purposes only. The information is provided by AapAurMain.com and while we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk. In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website. Through this website you are able to link to other websites which are not under the control of AapAurMain.com. We have no control over the nature, content and availabilityof those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them. Every effort is made to keep the website up and running smoothly. However, AapAurMain.com takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.
      </p>
    </div>
  </body>
</html>
