<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <% content_for :stylesheet do %>
    <%= stylesheet_link_tag "static_pages" %>
    <% end %>
    <% content_for :js_footer do %>
    <%= javascript_include_tag "static_pages", "bootstrap.min" %>
    <% end %>
  </head>
  <body>
    <div class="container clearfix">
      <div class="row">
        <div class="center-container">
          <div class="accordion" id="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <img src="/assets/minus-icon.png" class="close-box" />How to sign up ?
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  Signing up for www.aapaurmain.com is very simple and three easy steps. You provide your basic information like Name, Age, Gender, Location & select the discussion panels that you want to actively discuss about and you are good to go with your logging credentials & personalized dashboard. 
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  <img src="/assets/minus-icon.png" class="close-box" />What information on my profile will be seen by other users?
                </a>
              </div>
              <div class="collapse" id="collapseTwo">
                <div class="accordion-inner">
                  We don't believe that prospective life partners should hide anything. All information[including profile picture] except your personal contact details will be visible to all users. We encourage users to be honest and forthright in answers so as to make the journey of exploring partners truly meaningful
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  <img src="/assets/minus-icon.png" class="close-box" />What can I do as a signed-up user?
                </a>
              </div>
              <div class="collapse" id="collapseThree">
                <div class="accordion-inner">
                  As a signed-up user, we encourage you actively participate in the various discussion panels given on the web-site. You can contribute by posting your thoughts, share links, comment to fellow users’ posts. This in turn will build up your persona in the community & like-minded people can approach you to take it further.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <img src="/assets/minus-icon.png" class="close-box" />What information should I fill while signing up & what can I skip?
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  There is minimalistic information that we seek so that other users get a brief idea about you. Since there are very few fields, we advice not to skip fields & fill in the required information.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <img src="/assets/minus-icon.png" class="close-box" />What do I do after signing up?
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  You are directed to your dashboard where you need to choose few discussion panels which interest you most. You select those panels & start contributing to the discussions. You can also approach people and follow them in case you want it to take it further.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <img src="/assets/minus-icon.png" class="close-box" />What is a short bio?
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  A short bio is the minimum piece of information that any person would see first about you. We recommend you to make it as interesting, crisp yet informative as possible that really defines you. It always attracts attention.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <img src="/assets/minus-icon.png" class="close-box" />What is your criteria of giving recommendations ?
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  We show people in your chosen panels who have been a contributor for the same. We also highlight the active, popular users on the panel. After that we leave it on you to decide & approach them
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <img src="/assets/minus-icon.png" class="close-box" />What do I do if I like someone's profile?
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  If you come across a person whom you find interesting, just click on Send Request button & your request will be sent to the person. Also you can follow the person in case if you want to take some time before deciding to send a request.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <img src="/assets/minus-icon.png" class="close-box" />What should I do after sending a request to someone?
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  You can continue your quest for finding the perfect fit while the user at the other end firms up his / her mind about exploring the journey with you. In case the other person does not respond within a defined time period, you can withdraw your invitation.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <img src="/assets/minus-icon.png" class="close-box" />How will I know if someone has accepted my interest?
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  You will get an email on the address which you have provided to keep you posted with latest developments around your profile.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <img src="/assets/minus-icon.png" class="close-box" />How do I chat with another user?
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  You will get a notification about the status of the person in case you’re logged in. Alternatively, you can also drop in a specific time for chatting. But always remember, you can chat with a person only when you are in locked state.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <img src="/assets/minus-icon.png" class="close-box" />Why can't I send request to someone else if I am in a locked state?
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  We discourage 'multiple courtships' in case you are going forward with exploring a person. Once you are not in a locked state (just in case you could not click with person), you are free to send fresh requests.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <img src="/assets/minus-icon.png" class="close-box" />I have found my match on your site. I would like to inform you and also talk about it. How do I do that?
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  Congratulations! You and your partner can write to us at talktous@aapaurmain.com and you will be recorded as a couple on our site. We encourage users who found their partner through our platform to discuss their experience with folks around. We will keep you informed about any new features of aapaurmain.com. Feel free to discuss your amazing chapter at aapaurmain.com.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <img src="/assets/minus-icon.png" class="close-box" />What happens to my outgoing and incoming requests once I am in a locked state?
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  All requests automatically get cancelled in case you get into a locked state with someone. You can start afresh if you happen to withdraw from the locked state. But socially, you are active & contribute to the discussion panels.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <img src="/assets/minus-icon.png" class="close-box" />How can I edit my profile?
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  For editing your profile: Log into www.aapaurmain.com with your credentials. Click on 'Edit Profile' from your dropdown menu. Click 'Save' once you are done with editing & your changes will take effect.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <img src="/assets/minus-icon.png" class="close-box" />What all information can be edited into my profile?
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  Everything you had filled in.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <img src="/assets/minus-icon.png" class="close-box" />Can I change my email address after I have registered with the site?
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  Yes, you can. After every change, you need to validate that email account by clicking the link sent to your new email's inbox.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <img src="/assets/minus-icon.png" class="close-box" />I fear that my profile would be searchable on Internet. How I do away with it?
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  You do not have to worry about that at all. Your profile will not be discoverable on the internet.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <img src="/assets/minus-icon.png" class="close-box" />How do I give details about Height, Skin-color, Religion, Caste, creed etc.?
                </a>
              </div>
              <div class="collapse" id="collapseOne">
                <div class="accordion-inner">
                  You don't have to. We firmly believe that for finding a partner who really will stand by you in times of need and be what conveys music in the journey of life; we need to look beyond these criterions. We try to find a match based on the vital points that we believe is in coherence with the evolving requirements of youth.
                </div>
              </div>
            </div>

          </div> <!-- accordion -->
        </div> <!-- div.center-container -->
      </div> <!-- div.row -->
    </div> <!-- div.container -->    
  </body>
</html>
