<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <% content_for :head do %>
      <title>Aap Aur Main: Destination for perfect matches</title>
      <% content_for :js_footer do %>
        <%= javascript_include_tag "jquery.validate.min" %>
      <% end %>
      <% content_for :stylesheet do %>
        <%= stylesheet_link_tag "homepage" %>
      <% end %>

      <meta property="og:title" content="Aap Aur Main: Destination for perfect matches" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="http://www.facebook.com/aapaurmain" />
      <meta property="og:image" content="http://www.aapaurmain.com/assets/logo-chota.png" />
      <meta property="og:site_name" content="AapAurMain" />
      <meta property="fb:admins" content="100000895084212" />
      <meta property="fb:app_id" content="608759112487171" /> 
    <% end %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35891488-1']);
      _gaq.push(['_trackPageview', 'homepage']);

      (function(d) {
        var ga = d.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == d.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })(document);

    </script>
  </head>
  <script type="text/javascript">
    $(document).ready(function() {
      $('a.close').click(function(e) {
        e.preventDefault();
        $(this).parent().toggle('slow');
      });
      
      $('.signup form').validate({
        submitHandler: function(form) {
          $(form).ajaxSubmit();
        }, rules: {
          name: {
            required: true,
            minlength: 4
          },
          email: {
            required: true,
            email: true
          },
          conditions: "required",
          password: {
            required: true,
            minlength: 5
          },
          password_confirmation: {
            required: true,
            equalTo: '.signup form input[name=password]'
          }
        },
        messages: {
          name: {
            required: "We need a name to know you",
            minlength: "At least 4 characters is a normal name"
          },
          email: {
            required: "This is where verification mail will be sent",
            email: "This should be like name@domain.com"
          },
          password: {
            required: "This is for your own safety",
            minlength: "Give a strong password, at least 5 letters strong"
          },
          password_confirmation: {
            required: "Confirm password please",
            equalTo: "Passwords must match"
          },
          conditions: "Accept policies please"
        },
        errorLabelContainer: "#validation-errors"
      });
    });

    var gaActions = [
      { sel: '#logo', label : 'logoclick' },
      { sel: '.j-about_us', label: 'headerAboutUs' },
      { sel: '.j-how_it_works', label: 'headerHowItWorks' },
      { sel: '.j-dashboard', label: 'headerDashboard' },
      { sel: '.j-edit_profile', label: 'headerEditProfile' },
      { sel: '.j-messages', label: 'headerMessages' },
      { sel: '.j-my_profile', label: 'headerMyProfile' },
      { sel: '.j-log_out', label: 'headerLogOut' },
    ];

    $.each(gaActions, function(i, obj) {
      $(obj.sel).live('click', function(e) {
        window._gaq.push(['_trackEvent', 'homepageActions', obj.label]);
      });
    });

  </script>
  <body>
    <div id="fb-root"></div>

    <%= render :partial => 'static_pages/alerts' %>
    <!-- sign up-->
    <% if @user && @user.errors.any? %>
      <div class="signupError alert alert-error">
        <a class="close">&times;</a>
        <h2>Form is invalid</h2>
        <ul>
          <li>Email can't be blank</li>
          <li>Password can't be blank</li>
          <li>Password confirm should match with password</li>
        </ul>
      </div>
    <% end %>

    <!-- Main talking area -->
    <div class="container clearfix">
      <div class="row">
        <ul class="socialActions public-only hide">
          <li class="social-fb">
           <div class="fb-like" data-href="http://www.facebook.com/aapaurmain" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false" data-colorscheme="light"></div>                           
          </li>
           <li class="social-tw">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="" data-text=""  data-via="aapaurmain" rel="nofollow" data-count="vertical">Tweet</a>
            </li>
            <li class="social-li">
               <script type="IN/Share" data-counter="top" data-onSuccess="linkedInShareSuccess"></script>
             </li>
          <li class="social-go">
            <div class="g-plusone" data-size="tall" data-annotation="none" data-callback="plusone_success"></div>
          </li>
        </ul>

        <div class="span5">
          <div class="text-container">
            <ul class="text-dialog">
              <li>Opine.</li>
              <li>Believe.</li>
              <li>Express.</li>
            </ul>
          </div>
        </div> <!-- span5 -->

        <% unless current_user %>
        <div class="span7">
          <div class="signup">
            <%= form_tag({:controller => 'users', :action => 'signup'}, :class=> 'pull-right', :id => 'signup_form') do %>
              <div class="signup-form">
                <h3><span>Join Us</span></h3>
                <div id="validation-errors"></div>
                <div class="controls">
                    <input type="text" name="name" placeholder="Name" />
                    <input type="text" name="email" placeholder="Email" />
                    <input type="password" name="password" placeholder="Password" />
                    <input type="password" name="password_confirmation" placeholder="Password Confirm" />
                  <div class="conditions">
                    <label>
                      <input name="conditions" type="checkbox" />I agree to the <a href="/tnc">Terms &amp; Conditions</a> and <a href="/privacy">Privacy Policy</a>.
                    </label>
                  </div>
                  <button type="submit" class="signupBtn btn btn-primary btn-large">Get Started</button>
                </div>
              </div>
            <% end %>
          </div><!--signup ends-->
        </div> <!-- span7-->
        <%end%>
        
        <div class="fb-like-box" data-href="http://www.facebook.com/aapaurmain" data-width="310" data-height="370" data-show-faces="true" data-colorscheme="dark" data-stream="false" data-header="false"></div>

      </div> <!-- row-->
        
    </div> <!-- div.container -->


    <div class="tag-line">
      <div class="container">
        <span class="highlight interact">Interactive</span> platform to <span class="highlight discover">Discover</span> people you will <span class="highlight bond">Bond</span> with
      </div>
    </div>
  </body>
</html>
 <script type="text/javascript">
 	(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  // FB code for like button on left panel

  e = document.createElement('script'); 
  e.type = 'text/javascript'; 
  e.async = true;
  e.src = document.location.protocol + '//apis.google.com/js/plusone.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s);
  // G+ code for share button on left panel

  window.twttr = (function (d,s,id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)){return;} js=d.createElement(s); js.id=id;
    js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f); } });
  }(document, "script", "twitter-wjs"));
  // Tw Code for share button on left panel

  e = document.createElement('script'); 
  e.type = 'text/javascript'; 
  e.async = true;
  e.src = document.location.protocol + '//platform.linkedin.com/in.js';
  s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s);
  // Li Code for share button on left panel

  twttr.ready(function(twttr){
    twttr.events.bind('tweet', function(event) {
      if (event) {
        var targetUrl;
        if (event.target && event.target.nodeName == 'IFRAME') {
          targetUrl = '';
        }
        // GA stuff!
      }
    });
    twttr.events.bind('click', function(event) {
     //GA stuff
    });   

    $('.socialActions').delay(3500).fadeToggle(500, 'swing');
    // End of left panel share

    // Right panel for FB Like box
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  }); 	
</script>
