<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <% content_for :stylesheet do %>
      <%= stylesheet_link_tag "homepage/homepage" %>
    <% end %>
    <title>Aap Aur Main: Destination for perfect matches</title>
    <script src="/assets/booklet/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
    <script src="/assets/booklet/jquery.easing.1.3.js" type="text/javascript"></script>
    <script src="/assets/booklet/jquery.booklet.1.4.0.min.js" type="text/javascript"></script>
    <link href="/assets/booklet/jquery.booklet.1.4.0.css" type="text/css" rel="stylesheet" media="screen, projection, tv" />
    

    <meta property="og:title" content="Aap Aur Main: Destination for perfect matches" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.facebook.com/indianmarriages" />
    <meta property="og:image" content="http://www.aapaurmain.com/assets/logo-chota.png" />
    <meta property="og:site_name" content="AapAurMain" />
    <meta property="fb:admins" content="100003611317733" />
  </head>
  <body>
    <div id="fb-root"></div>

    <!-- sign up-->
    <% if @user && @user.errors.any? %>
      <div class="signupError alert alert-error">
        <a class="close">&times;</a>
        <h2>Form is invalid</h2>
        <ul>
          <li>Email can't be blank</li>
          <li>Password can't be blank</li>
          <li>Password confirm should match with password</li>
        </ul>
      </div>
    <% end %>

    <div class="signup">
      <%= form_tag({:controller => 'users', :action => 'signup'}, :class=> 'pull-right', :id => 'signup_form') do %>
        <div class="control-group">
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-envelope"></i></span>
              <input class="span3" type="text" name="email" placeholder="Email" />
            </div>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-lock"></i></span>
              <input class="span3" type="password" name="password" placeholder="Password" />
            </div>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-refresh"></i></span>
              <input type="password" class="span3" name="password_confirmation" placeholder="Password Confirm" />
            </div>
            <button type="submit" class="signupBtn"></button>
          </div>
        </div>
      <% end %>
    </div><!--signup ends-->
    
    <!-- Main talking area -->
    <div class="container">
        <ul class="socialActions public-only hide">
          <li class="social-fb">
           <div class="fb-like" data-href="http://www.facebook.com/indianmarriages" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false" data-colorscheme="dark"></div>                           
          </li>
           <li class="social-tw">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="" data-text=""  data-via="aapaurmain" rel="nofollow" data-count="vertical">Tweet</a>
            </li>
            <li class="social-li">
               <script type="IN/Share" data-counter="top" data-onSuccess="linkedInShareSuccess"></script>
             </li>
          <li class="social-go">
            <div class="g-plusone" data-size="tall" data-annotation="none" data-callback="plusone_success"></div>
          </li>
        </ul>
      
       <div class="book_wrapper">
                <div id="mybook">
                  
                <!--page 0-->
                	<div> 
                		<h3></h3>
                		<img src="assets/booklet/cover.jpg" width="400px" />
                		<img src="assets/booklet/patta.png" />
                		<span class="logoText"><p>AapAurMain.com</p>
                      <p class="tagLine"><i>Your Life, Your Choice</i></p>
                    </span>
                	</div>
                	
                	<!--page 1-->
                	<div> 
                	  <div class="headerText">What is AapAurMain?</div>
                		<span class="bookletText aamText">
                		  <p>The match making platform where every “Main” chooses their “Aap” and together decide their destination.</p>
                		           
                		  </p>                      
                    </span>
                	</div>
                	
                	<!--page 2-->
                	<div> 
                    <img src="assets/booklet/Phd.jpg" class="phdImage"/>
                		<span class="bookletText">
                		  <p>“I wanted to pursue my Phd; my parents wanted me to get married. 
                		    Looking for a partner in my aspirations; not my salary”</p>                      
                    </span>
                	</div>
                	
                	
                	<!--page 3-->                	
                	<div> 
                	  <div class="headerText">What AapAurMain Believes</div>
                		<span class="bookletText aamText">
                		  <p>Our members are united in the belief - it's not the credentials as much as it is the companionship that matters.</p>
                		           <p class="aamTagLine"><i>We know it does not need to go by the books anymore!</i></p>
                		  </p>                      
                    </span>
                	</div>
                	
                	
                <!--page 4-->
                	<div> 
                	   <img src="assets/booklet/caste.jpg" class="phdImage"/>
                  		<span class="bookletText">
                  		  <p>“I needed a partner; not a living horoscope dictionary. Understanding each other is way above caste and religion”</p>                      
                      </span>
                	</div>
                	
                  <div> 
                    <div class="headerText">What AapAurMain Believes</div>
                		<span class="bookletText aamText">
                		  <p>We serve you people, not "commodities" divided into categories of caste, religion, race, skin color, height and weight.</p>
                		           <p class="aamTagLine"><i>Gone are such days, we know you need compatibility for everything!</i></p>
                    
                    </span>
                	</div>
                	
                	
                	<div> 
                	   <img src="assets/booklet/together.jpg" class="phdImage"/>
                  		<span class="bookletText">
                  		  <p>“I wanted to be with a guy whom I could relate to. It is about my life eventually”</p>                      
                      </span>
                	</div>
                	
                	<div>
                	  <div class="headerText">What AapAurMain Believes</div>
                		<span class="bookletText aamText">
                		  <p>We encourage our users to choose for themselves and decide for themselves.</p>
                		           <p class="aamTagLine"><i>Its about your life and your journey after all!</i></p>         
                    </span>
                	</div>
                	
                	<div> 
                  	   <img src="assets/booklet/parents.jpg" class="phdImage"/>
                    		<span class="bookletText">
                    		  <p>“Being the single child, my aging parents was what held me back from thinking ahead. I was looking for the guy to accept my parents with me”</p>                      
                        </span>
                  </div>

                  <div>
                  	  <div class="headerText">What AapAurMain Believes</div>
                  		<span class="bookletText aamText">
                  		  <p>Our members believe marriage is an equal participation institute where both mutually share the crests and troughs.</p>
                  		           <p class="aamTagLine"><i>We ask you upfront about the deciding factors in your life so you do not waste time and emotions discovering them later!</i></p>         
                      </span>
                  </div>
                  	
                  	<!--Last page-->
                  <div> 
                    <img src="assets/booklet/brushes.png" class=""/>
                  </div>
                      	
                  <div>
                		<span class="bookletText aamText lastpageText">
                		  <p><h2 style="color:brown">The Beginning...</h2></p>
                		  <p class="aamTagLine" style="padding-left:140px"><i>Your Life,Your Choice!</i></p>         
                    </span>
                  </div>
                	
                	
                </div> <!--mybook-->
              </div><!--boo_wrapper-->

    
      <div class="faqs">
        <h2 class="faqHeader">Why should you sign up with us? Decide for yourself.</h2>
        <div class="faqWrapper">
          <div class="leftCol">
            
            <div class="q">
              <div class="question">What We Are ?</div>
                <ul class="whatWeAre">
                  <li>Our members believe marriage is a union.Transaction in any form is unacceptable.</li>
                  <li>We ask you crisp details on things related to your preferences, opinions and aspirations only. Integrity and honesty are the aspects to look out for!.</li>
                  <li>We are open to your trusted people making your profile; but we encourage you to create, discuss and choose for yourself as you understand your priorities best</li>
                  <li>Quality is the determining criterion. We handpick matches through our extremely sophisticated and detailed understanding of you and your profile</li>
                  
                </ul>
                </div>
          </div> <!-- div.leftCol -->
        
          <div class="rightCol">
            
            <div class="q">
              <div class="question">What we are not?</div>
              <ul class="whatWeAre">
                <li>We are not a dating site. We do not even call ourselves a ‘serious’ dating site..</li>
                <li>We do not provide matches based on caste / race / religion / salary/ skin color / height and weight. We do not ask you about these details either.</li>
                <li>We do not flood users with random matches. We give only select few matches per week. We do not allow random people to have fun.</li>
                <li>We do not stand for multi tasking. We do not provide further matches to a couple when they are exploring each other. Loyalty in whatever we do is what defines our community.</li>
                
              </ul>
            </div>
   
            
          </div> <!-- div.rightCol -->
      </div>

    </div><!-- Main talking area container ends -->
  </body>
</html>
 <script type="text/javascript">
 $(function() {
 	//single book
 	$('#mybook').booklet({
 	  width: 800,
 	  height: 500    
 	});
 });
 	
 	(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
 	  

e = document.createElement('script'); 
e.type = 'text/javascript'; 
e.async = true;
e.src = document.location.protocol + '//apis.google.com/js/plusone.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s);

window.twttr = (function (d,s,id) {
  var t, js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)){return;} js=d.createElement(s); js.id=id;
  js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
  return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f); } });
}(document, "script", "twitter-wjs"));

e = document.createElement('script'); 
e.type = 'text/javascript'; 
e.async = true;
e.src = document.location.protocol + '//platform.linkedin.com/in.js';
s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s);


twttr.ready(function(twttr){
  twttr.events.bind('tweet', function(event) {
    if (event) {
      var targetUrl;
      if (event.target && event.target.nodeName == 'IFRAME') {
        targetUrl = '';
      }
      // GA stuff!
    }
  });
  twttr.events.bind('click', function(event) {
   //GA stuff
  });   

   $('.socialActions').delay(3500).fadeToggle(500, 'swing');   

});
  
 	
 	
</script>