<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <%= stylesheet_link_tag "homepage/homepage" %>
    <title></title>
  </head>
  <body>
    <div class="login">
      <!-- login -->
      <form class="well form-inline pull-right">
        <div class="control-group">
          <div class="controls">
            <div class="input-prepend">
              <input class="span2" id="inputIcon" type="text" placeholder="Email" />
            </div>
            <div class="input-prepend">
              <input type="password" class="span2" placeholder="Password" />
            </div><button type="submit" class="btn">Sign in</button>
          </div>
        </div><label class="checkbox"><input type="checkbox"> Remember me</label>
      </form>
    </div><!-- login ends-->
    <!-- sign up-->
    <div class="signup">
      <form class="well pull-right">
        <div class="control-group">
          <div class="controls">
            <div class="input-prepend">
              <input class="span3" type="text" placeholder="Name" />
            </div>
            <div class="input-prepend">
              <input class="span3" type="text" placeholder="Email" />
            </div>
            <div class="input-prepend">
              <input type="password" class="span3" placeholder="Password" />
            </div><button type="submit" class="btn">Sign up</button>
          </div>
        </div>
      </form>
    </div><!--signup ends-->
  </body>
</html>
