<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <% content_for :head do %>
      <title>Aap Aur Main: Destination for perfect matches</title>
      <script src="/assets/booklet/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
      <script src="/assets/booklet/jquery.easing.1.3.js" type="text/javascript"></script>
      <script src="/assets/booklet/jquery.booklet.1.4.0.min.js" type="text/javascript"></script>
      <script src="/assets/homepage/jquery.validate.min.js" type="text/javascript"></script>
      <link href="/assets/booklet/jquery.booklet.1.4.0.css" type="text/css" rel="stylesheet" media="screen, projection, tv" />
      <% content_for :stylesheet do %>
        <%= stylesheet_link_tag "homepage/homepage" %>
      <% end %>

      <meta property="og:title" content="Aap Aur Main: Destination for perfect matches" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="http://www.facebook.com/indianmarriages" />
      <meta property="og:image" content="http://www.aapaurmain.com/assets/logo-chota.png" />
      <meta property="og:site_name" content="AapAurMain" />
      <meta property="fb:admins" content="100003611317733" />
    <% end %>
  </head>
  <script type="text/javascript">
    $(document).ready(function() {
      $('a.close').click(function(e) {
        e.preventDefault();
        $(this).parent().toggle('slow');
      });
      
      $('.signup form').validate({
        submitHandler: function(form) {
          $(form).ajaxSubmit();
        }, rules: {
          name: {
            required: true,
            minlength: 4
          },
          email: {
            required: true,
            email: true
          },
          conditions: "required",
          password: {
            required: true,
            minlength: 5
          },
          password_confirmation: {
            required: true,
            equalTo: '.signup form input[name=password]'
          }
        },
        messages: {
          name: {
            required: "We need a name to know you",
            minlength: "At least 4 characters is a normal name"
          },
          email: {
            required: "This is where verification mail will be sent",
            email: "This should be like name@domain.com"
          },
          password: {
            required: "This is for your own safety",
            minlength: "Give a strong password, at least 5 letters strong"
          },
          password_confirmation: {
            required: "Confirm password please",
            equalTo: "Passwords must match"
          },
          conditions: "Accept policies please"
        }
      });
    });
  </script>
  <body>
    <div id="fb-root"></div>
    
    <%= render :partial => 'static_pages/alerts' %>
    <!-- sign up-->
    <% if @user && @user.errors.any? %>
      <div class="signupError alert alert-error">
        <a class="close">&times;</a>
        <h2>Form is invalid</h2>
        <ul>
          <li>Email can't be blank</li>
          <li>Password can't be blank</li>
          <li>Password confirm should match with password</li>
        </ul>
      </div>
    <% end %>

    <div class="signup">
      <%= form_tag({:controller => 'users', :action => 'signup'}, :class=> 'pull-right', :id => 'signup_form') do %>
        <div class="control-group">
          <div class="joinus">Join Us</div>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-user"></i></span>
              <input class="span3" type="text" name="name" placeholder="Name" />
            </div>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-envelope"></i></span>
              <input class="span3" type="text" name="email" placeholder="Email" />
            </div>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-lock"></i></span>
              <input class="span3" type="password" name="password" placeholder="Password" />
            </div>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-refresh"></i></span>
              <input type="password" class="span3" name="password_confirmation" placeholder="Password Confirm" />
            </div>
            <div class="conditions">
              <label>
                <input name="conditions" type="checkbox" />I agree to the <a href="/tnc">Terms &amp; Conditions</a> and <a href="/privacy">Privacy Policy</a>.
              </label>
            </div>
            <button type="submit" class="signupBtn"></button>
          </div>
        </div>
      <% end %>
      <div>
        <%= image_tag "cutie.png"%>
      </div>
    </div><!--signup ends-->
    
    <!-- Main talking area -->
    <div class="container">
      <ul class="socialActions public-only hide">
        <li class="social-fb">
         <div class="fb-like" data-href="http://www.facebook.com/indianmarriages" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false" data-colorscheme="light"></div>                           
        </li>
         <li class="social-tw">
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="" data-text=""  data-via="aapaurmain" rel="nofollow" data-count="vertical">Tweet</a>
          </li>
          <li class="social-li">
             <script type="IN/Share" data-counter="top" data-onSuccess="linkedInShareSuccess"></script>
           </li>
        <li class="social-go">
          <div class="g-plusone" data-size="tall" data-annotation="none" data-callback="plusone_success"></div>
        </li>
      </ul>
      
      <div class="book_wrapper">
                <div id="mybook">
                  
                <!--page 0-->
                	<div> 
                		<h3></h3>
                		<img class="patta" src="assets/booklet/book logo.png" />
                		<span class="logoText">
                      <p class="tagLine">Your Life, Your Choice</p>
                    </span>
                	</div>
                	
                	<!--page 1-->
                	<div> 
                	  <div class="headerText">What is AapAurMain?</div>
                		<span class="bookletText aamText">
                		  <p>The match making platform where every “Main” chooses their “Aap” and together decide their destination.</p>
                		           
                		  </p>                      
                    </span>
                	</div>
                	
                	<!--page 2-->
                	<div> 
                    <img src="assets/booklet/Phd.jpg" class="phdImage"/>
                		<span class="bookletText">
                		  <p>“I wanted to pursue my Phd; my parents wanted me to get married. 
                		    Looking for a partner who shares my aspirations; not my salary”</p>                      
                    </span>
                	</div>
                	
                	
                	<!--page 3-->                	
                	<div> 
                	  <div class="headerText">What AapAurMain Believes</div>
                		<span class="bookletText aamText">
                		  <p>Our members are united in the belief - it's not the credentials as much as it is the companionship that matters.</p>
                		           <p class="aamTagLine">We know it does not need to go by the books anymore!</p>
                		  </p>                      
                    </span>
                	</div>
                	
                	
                <!--page 4-->
                	<div> 
                	   <img src="assets/booklet/caste.jpg" class="phdImage"/>
                  		<span class="bookletText">
                  		  <p>“I needed a partner; not a living horoscope dictionary. Understanding each other is way above caste and religious considerations"</p>                      
                      </span>
                	</div>
                	
                  <div> 
                    <div class="headerText">What AapAurMain Believes</div>
                		<span class="bookletText aamText">
                		  <p>We serve you people, not "commodities" divided into categories of caste, religion, race, skin color, height and weight.</p>
                		           <p class="aamTagLine">Gone are those days; we know you need compatibility today!</p>
                    
                    </span>
                	</div>
                	
                	
                	<div> 
                	   <img src="assets/booklet/flower.png" class="phdImage"/>
                  		<span class="bookletText">
                  		  <p>“I wanted to be with a guy who I could relate to. It is about my life after all”</p>                      
                      </span>
                	</div>
                	
                	<div>
                	  <div class="headerText">What AapAurMain Believes</div>
                		<span class="bookletText aamText">
                		  <p>We encourage our users to choose for themselves and decide for themselves.</p>
                		           <p class="aamTagLine">Its about your life and your journey!</p>         
                    </span>
                	</div>
                	
                	<div> 
                  	   <img src="assets/booklet/parents.jpg" class="phdImage"/>
                    		<span class="bookletText">
                    		  <p>“Being the single child, my aging parents held me back from thinking ahead. I am looking for a guy who will take care of not just me, my parents too"</p>                      
                        </span>
                  </div>

                  <div>
                  	  <div class="headerText">What AapAurMain Believes</div>
                  		<span class="bookletText aamText pushTop">
                  		  <p>Our members believe marriage is an equilibrium, where both partners mutually share the ups and downs.</p>
                  		           <p class="aamTagLine">We ask you upfront about the deciding factors in your life so you do not waste time and emotions discovering them later!</p>         
                      </span>
                  </div>
                  	
                  	<!--Last page-->
                  <div> 
                    <img src="assets/booklet/together.jpg" class="phdImage"/>
                    
                    <span class="bookletText">
                      <p style="padding:40px">Your Life,Your Choice! </p>
                    </span>
                  </div>
                      	
                  <div>
                		<span class="bookletText aamText lastpageText">
                		  <p><h2 style="color:brown">The Beginning...</h2></p>
                		  <span class="bookletText aamText"><p>Write your amazing chapter here.</p></span>       
                    </span>
                  </div>
                	
                	
                </div> <!--mybook-->
      </div><!--book_wrapper-->
      </div><!-- Main talking area container ends -->
      <div class="faqs">
        <h2 class="faqHeader">
          <div class="faqText">
            Something you must know about us &hellip;
          </div>
        </h2>
        <div class="faqWrapper">
          <div class="leftCol">
            
            <div class="q">
              <div class="question">What We Are ?</div>
                <ul class="whatWeAre">
                  <li>Our members believe marriage is a union.Transaction in any form is unacceptable.</li>
                  <li>We ask for crisp details on things related to your preferences, opinions and aspirations only. Integrity and honesty are the aspects to look out for!.</li>
                  <li>The people you trust may make your profile; but we encourage you to create, discuss and choose for yourself as you understand your priorities best</li>
                  <li>We handpick matches through our extremely sophisticated and detailed understanding of you and your profile. Quality is the determining criterion</li>
                  
                </ul>
                </div>
          </div> <!-- div.leftCol -->
        
          <div class="rightCol">
            
            <div class="q">
              <div class="question">What we are not?</div>
              <ul class="whatWeAre">
                <li>We do not call ourselves a ‘serious’ dating site.. In fact, we are not even a dating site. </li>
                <li>We do not provide matches based on caste / race / religion / skin color / height and weight. We do not enquire about these details either.</li>
                <li>We do not flood our users with countless matches. We give you only a select few matches per week.</li>
                <li>We do not stand for multiple courtships. Loyalty in whatever we do is what defines our community. We do not provide further matches to a couple when they are getting to know each other</li>
              </ul>
            </div>
   
            
          </div> <!-- div.rightCol -->
      </div>
    </div> <!-- div.container -->
  </body>
</html>
 <script type="text/javascript">
 $(function() {
 	//single book
 	$('#mybook').booklet({
 	  width: 800,
 	  height: 500,
    pagePadding: 20,
    pageNumbers: false ,
    arrows: true,
    easing: null,
    speed: 500
 	});
  

 });
 	
 	(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
 	  

e = document.createElement('script'); 
e.type = 'text/javascript'; 
e.async = true;
e.src = document.location.protocol + '//apis.google.com/js/plusone.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s);

window.twttr = (function (d,s,id) {
  var t, js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)){return;} js=d.createElement(s); js.id=id;
  js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
  return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f); } });
}(document, "script", "twitter-wjs"));

e = document.createElement('script'); 
e.type = 'text/javascript'; 
e.async = true;
e.src = document.location.protocol + '//platform.linkedin.com/in.js';
s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s);


twttr.ready(function(twttr){
  twttr.events.bind('tweet', function(event) {
    if (event) {
      var targetUrl;
      if (event.target && event.target.nodeName == 'IFRAME') {
        targetUrl = '';
      }
      // GA stuff!
    }
  });
  twttr.events.bind('click', function(event) {
   //GA stuff
  });   

   $('.socialActions').delay(3500).fadeToggle(500, 'swing');   

});
  
 	
 	
</script>
