<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>AapAurMain: How It Works!</title>
    <%= stylesheet_link_tag 'howitworks' %>
  </head>
  <body>
     <a href="/" id="logo"></a>
    <div class="content">
      <ul class="how-grid">
        <li class="text1"></li>
        <li class="li1">
          <div class="how-item">
            <div class="how-info">
              <p>
                Start your journey with us
              </p>
            </div>
            <div class="how-thumb how-img-1"></div>
          </div>
        </li>
        <li class="lasso1"></li>
        <li class="text2"></li>
        <li class="li2">
          <div class="how-item">
            <div class="how-info">
              <p>
                We know you by your profile
              </p>
            </div>
            <div class="how-thumb how-img-2"></div>
          </div>
        </li>
        <li class="lasso2"></li>
        <li class="text3"></li>
        <li class="li3">
          <div class="how-item">
            <div class="how-info">
              <p>
                Everyone wants personalized attention
              </p>
            </div>
            <div class="how-thumb how-img-3"></div>
          </div>
        </li>
        <li class="lasso3"></li>
        <li class="text4"></li>
        <li class="li4">
          <div class="how-item">
            <div class="how-info">
              <p>
                Matches who complement you are rare.
              </p>
            </div>
            <div class="how-thumb how-img-4"></div>
          </div>
        </li>
        <li class="lasso4"></li>
        <li class="text5"></li>
        <li class="li5">
          <div class="how-item">
            <div class="how-info">
              <p>
                You won't be bugged with random results
              </p>
            </div>
            <div class="how-thumb how-img-5"></div>
          </div>
        </li>
        <li class="lasso5"></li>
        <li class="text6"></li>
        <li class="li6">
          <div class="how-item">
            <div class="how-info">
              <p>
                Settle only for what is best
              </p>
            </div>
            <div class="how-thumb how-img-6"></div>
          </div>
        </li>

      </ul>
    </div>
  </body>
</html>