<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>AapAurMain: How It Works!</title>
    <%= stylesheet_link_tag 'howitworks' %>
  </head>
  <body>
    <div class="content">
      <ul class="how-grid">
        <li class="text1"></li>
        <li class="li1">
          <div class="how-item">
            <div class="how-info">
              <h3>
                Music poster
              </h3>
              <p>
                by Jonathan Quintin <a href="http://drbl.in/eGjw">View on Dribbble</a>
              </p>
            </div>
            <div class="how-thumb how-img-1"></div>
          </div>
        </li>
        <li class="lasso1"></li>
        <li class="text2"></li>
        <li class="li2">
          <div class="how-item">
            <div class="how-info">
              <h3>
                Beer Poster 2
              </h3>
              <p>
                by Jon Gerlach <a href="http://drbl.in/eFWR">View on Dribbble</a>
              </p>
            </div>
            <div class="how-thumb how-img-2"></div>
          </div>
        </li>
        <li class="lasso2"></li>
        <li class="text3"></li>
        <li class="li3">
          <div class="how-item">
            <div class="how-info">
              <h3>
                Devi Tara
              </h3>
              <p>
                by Kawal Oberoi <a href="http://drbl.in/eFED">View on Dribbble</a>
              </p>
            </div>
            <div class="how-thumb how-img-3"></div>
          </div>
        </li>
        <li class="lasso3"></li>
        <li class="text4"></li>
        <li class="li4">
          <div class="how-item">
            <div class="how-info">
              <h3>
                Music poster
              </h3>
              <p>
                by Jonathan Quintin <a href="http://drbl.in/eGjw">View on Dribbble</a>
              </p>
            </div>
            <div class="how-thumb how-img-4"></div>
          </div>
        </li>
        <li class="lasso4"></li>
        <li class="text5"></li>
        <li class="li5">
          <div class="how-item">
            <div class="how-info">
              <h3>
                Music poster
              </h3>
              <p>
                by Jonathan Quintin <a href="http://drbl.in/eGjw">View on Dribbble</a>
              </p>
            </div>
            <div class="how-thumb how-img-5"></div>
          </div>
        </li>
        <li class="lasso5"></li>
        <li class="text6"></li>
        <li class="li6">
          <div class="how-item">
            <div class="how-info">
              <h3>
                Music poster
              </h3>
              <p>
                by Jonathan Quintin <a href="http://drbl.in/eGjw">View on Dribbble</a>
              </p>
            </div>
            <div class="how-thumb how-img-6"></div>
          </div>
        </li>

      </ul>
    </div>
  </body>
</html>