<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Aap Aur Main- Terms And Conditions</title>
  <% content_for :stylesheet do %>
  <%= stylesheet_link_tag "static_pages" %>
  <% end %>
  <% content_for :js_footer do %>
  <%= javascript_include_tag "static_pages", "bootstrap.min" %>
  <% end %>
</head>

<body>
  <div class="container clearfix smaller-text show-lis">
    <div class="row">
      <div class="center-container">
        <div class="accordion" id="accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <img src="/assets/minus-icon.png" class="close-box" />Website Usage
              </a>
            </div>
            <div class="collapse" id="collapseOne">
              <div class="accordion-inner">
                Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern AapAurMain.com' s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.The term 'AapAurMain.com' or 'us' or 'we' refers to the owner of the website whose registered office is New Delhi, 110017. The term 'you' refers to the user or viewer of our website.
                <br/><br/>
                The use of this website is subject to the following terms of use:
                <ul>
                  <li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
                  <li>This website may use cookies to monitor browsing preferences. If you do allow cookies to be used, please refer to our privacy
                  policy for details of what data we may collect and how it may be used.</li>
                  <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose.</li> 
                  <li>You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
                </ul>
                <br/>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. 
                <br/>It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
                <br/>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
                <br/>All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website.
                <br/>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.
                <br/>From time to time, this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
                <br/>Your use of this website and any dispute arising out of such use of the website is subject to the laws of India.        
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <img src="/assets/minus-icon.png" class="close-box" />Sign-in Credentials
              </a>
            </div>
            <div class="collapse" id="collapseOne">
              <div class="accordion-inner">
                You agree to:
                <ul>
                  <li>Keep your password secure and confidential;</li> 
                  <li> Not permit others to use your account; </li>
                  <li> Refrain from using other Users’ accounts; </li>
                  <li> Refrain from selling, trading, or otherwise transferring your AapAurMain account to another party; and</li> 
                  <li> refrain from charging anyone for access to any portion of AapAurMain, or any information therein. Further, you are responsible for anything that happens through your account until you close down your account or prove that your account security was compromised due to no fault of your own. To close your account, please visit AapArMain.com customer service site.</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <img src="/assets/minus-icon.png" class="close-box" />Indemnification
              </a>
            </div>
            <div class="collapse" id="collapseOne">
              <div class="accordion-inner">
                You indemnify us and hold us harmless for all damages, losses and costs related to all third party claims, charges, and investigations, caused by:
                <ul>
                  <li> your failure to comply with this Agreement, including, without limitation, your submission of content that violates third party rights or applicable laws,</li>
                  <li> any content you submit to the Services, and </li>
                  <li> any activity in which you engage on or through AapAurMain.</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <img src="/assets/minus-icon.png" class="close-box" />Payment
              </a>
            </div>
            <div class="collapse" id="collapseOne">
              <div class="accordion-inner">
                If you purchase any services that we offer for a fee, either on a one-time or subscription basis (“Premium Services”), you agree to AapAurMain.com storing your payment card information. You also agree to pay the applicable fees for the Premium Services (including, without limitation, periodic fees for premium accounts) as they become due plus all related taxes, and to reimburse us for all collection costs and interest for any overdue amounts. Your obligation to pay fees continues through the end of the subscription period during which you cancel your subscription.You also acknowledge that AapAurMain.com Premium Services are subject to this Agreement and any additional terms related to the provision of the Premium Service.
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <img src="/assets/minus-icon.png" class="close-box" />Privacy
              </a>
            </div>
            <div class="collapse" id="collapseOne">
              <div class="accordion-inner">
                You should carefully read our full Privacy Policy before deciding to become a User as it is hereby incorporated into this Agreement by reference, and governs our treatment of any information, including personally identifiable information you submit to us. Please note that certain information, statements, data, and content (such as photographs) which you may submit to AapAurMain.com, or groups you choose to join might, or are likely to, reveal your gender, ethnic origin, nationality, age, and/or other personal information about you. You acknowledge that your submission of any information, statements, data, and content to us is voluntary on your part.
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <img src="/assets/minus-icon.png" class="close-box" />Rights
              </a>
            </div>
            <div class="collapse" id="collapseOne">
              <div class="accordion-inner">
                On the condition that you comply with all your obligations under this Agreement,we grant you a limited, revocable, nonexclusive, nonassignable, technology or software used to access data without the express written consent of AapAurMain.com or its Users), view information and use the Services that we provide on AapAurMain.com webpages and in accordance with this Agreement. Any other use of AapAurMain.com contrary to our mission and purpose (such as seeking to connect to someone you do not know or trust, or to use information gathered from AapAurMain.com commercially unless expressly authorized by AapAurMain.com) is strictly prohibited and a violation of this Agreement. We reserve all rights not expressly granted in this Agreement, including, without limitation, title, ownership, intellectual property rights, and all other rights and interest in AapAurMain.com and all related items, including any and all copies made of the AapAurMain.com website.
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <img src="/assets/minus-icon.png" class="close-box" />Service Availability
              </a>
            </div>
            <div class="collapse" id="collapseOne">
              <div class="accordion-inner">
                For as long as AapAurMain.com continues to offer the Services, AapAurMain.com shall provide and seek to update, improve and expand the Services. As a result, we allow you to access AapAurMain.com as it may exist and be available on any given day and have no other obligations, except as expressly stated in this Agreement. We may modify, replace, refuse access to, suspend or discontinue AapAurMain.com, partially or entirely, or change and modify prices for all or part of the Services for you or for all our users in our sole discretion. All of these changes shall be effective upon their posting on our site or by direct communication to you unless otherwise noted. AapAurMain.com further reserves the right to withhold, remove and or discard any content available as part of your account, with or without notice if deemed by AapAurMain.com to be contrary to this Agreement. For avoidance of doubt, AapAurMain.com has no obligation to store, maintain or provide you a copy of any content that you or other Users provide when using the Services.
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <img src="/assets/minus-icon.png" class="close-box" />Disclosure of User Information
              </a>
            </div>
            <div class="collapse" id="collapseOne">
              <div class="accordion-inner">
                You acknowledge, consent and agree that we may access, preserve, and disclose your registration and any other information you provide if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary in our opinion to: 
                <ul>
                  <li> comply with legal process, including, but not limited to, civil and criminal subpoenas, court orders or other compulsory disclosures;</li>
                  <li> enforce this Agreement;</li> 
                  <li> respond to claims of a violation of the rights of third parties, whether or not the third party is a User, individual, or government agency;</li>
                  <li> respond to customer service inquiries; or</li>
                  <li> protect the rights, property, or personal safety of AapAurMain.com, our Users or the public.</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <img src="/assets/minus-icon.png" class="close-box" />Connections And Interactions With Other Users
              </a>
            </div>
            <div class="collapse" id="collapseOne">
              <div class="accordion-inner">
                You are solely responsible for your interactions with other Users. AapAurMain.com may limit the number of connections you may have to other Users and may, in certain circumstances, prohibit you from contacting other Users through use of the Services or otherwise limit your use of the Services. AapAurMain.com reserves the right, but has no obligation, to monitor disputes between you and other members and to restrict, suspend, or close your account if AapAurMain.com determines, in our sole discretion, that doing so is necessary to enforce this Agreement.                
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <img src="/assets/minus-icon.png" class="close-box" />Income disclaimer
              </a>
            </div>
            <div class="collapse" id="collapseOne">
              <div class="accordion-inner">
                This website and the items it distributes contain business strategies, marketing methods and other business advice that, regardless of my own results and experience, may not produce the same results (or any results) for you. AapAurMain.com makes absolutely no guarantee, expressed or implied, that by following the advice or content available from this web site you will make any money or improve current profits, as there are several factors and variables that come into play regarding any given business.Primarily, results will depend on the nature of the product or business model, the conditions of the marketplace, the experience of the individual, and situations and elements that are beyond your control.As with any business endeavour, you assume all risk related to investment and money based on your own discretion and at your own potential expense.
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <img src="/assets/minus-icon.png" class="close-box" />Liability disclaimer
              </a>
            </div>
            <div class="collapse" id="collapseOne">
              <div class="accordion-inner">
                By reading this website or the documents it offers, you assume all risks associated with using the advice given, with a full understanding that you, solely, are responsible for anything that may occur as a result of putting this information into action in any way, and regardless of your interpretation of the advice.You further agree that our company cannot be held responsible in any way for the success or failure of your business as a result of the information provided by our company. It is your responsibility to conduct your own due diligence regarding the safe and successful operation of your business if you intend to apply any of our information in any way to your business operations.In summary, you understand that we make absolutely no guarantees regarding income as a result of applying this information, as well as the fact that you are solely responsible for the results of any action taken on your part as a result of any given information.In addition, for all intents and purposes you agree that our content is to be considered "for entertainment purposes only". Always seek the advice of a professional when making financial, tax or business decisions.
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <img src="/assets/minus-icon.png" class="close-box" />Website disclaimer
              </a>
            </div>
            <div class="collapse" id="collapseOne">
              <div class="accordion-inner">
                The information contained in this website is for general information purposes only. The information is provided by AapAurMain.com and while we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.Through this website you are able to link to other websites which are not under the control of AapAurMain.com. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.Every effort is made to keep the website up and running smoothly. However, AapAurMain.com takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <img src="/assets/minus-icon.png" class="close-box" />Copyright notice
              </a>
            </div>
            <div class="collapse" id="collapseOne">
              <div class="accordion-inner">
                This website and its content is copyright of AapAurMain.com - © AapAurMain.com 2004. All rights reserved. Any redistribution or reproduction of part or all of the contents in any form is prohibited other than the following:
                <ul>
                  <li>you may print or download to a local hard disk extracts for your personal and non-commercial use only</li>
                  <li>you may copy the content to individual third parties for their personal use, but only if you acknowledge the website as the source of the material.</li>
                </ul>
                <br/>
                You may not, except with our express written permission, distribute or commercially exploit the content. Nor may you transmit it or store it in any other website or other form of electronic retrieval system.
                <br/>
                Disclosures of User information to third parties other than those required to provide customer support, administer this agreement, or comply with legal requirements are addressed in the Privacy Policy.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>



 
