body {
  margin-bottom: 100px;
  background: url('/assets/web-texture-blue.jpg');
}

.searchResults {
  position: relative;
  left: 380px;
  top: 20px;
  background: #191814;
  border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  -moz-box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  color: white;
  overflow-x: scroll;
  overflow-y: hidden;
}
ul.searchList {
  height: 170px;
  margin: 20px 0 0px 35px;
  list-style: none;
  position: relative;
}

.searchList li {
  list-style: none;
  padding-right: 30px;
  float: left;
  width: 100px;
  display: inline;
  position: absolute;
}

.viewerPane {
  position: relative;
  width: 940px;
  left: 400px;
  top: 50px;
  height: 363px;
}

.viewerPane ul.user-container {
  left: 280px;
  top: 38px;
}
.leftSearchBar {
  position: absolute;
  top: 110px;
  border-radius: 10px;
  background: rgba(12, 220, 238, 0.33);
  padding: 10px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  -moz-box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  color: #FFEBCD;
}

.mainContent {
  position: relative; 
  width: 60%;
  top: 5%;
  left: 30%;
}

.mainContent .hero-unit h1 {
  text-align: left;
}

.footer {
  display: none;
}
