<%# Move to a new css file when the style tag gets big %>
<style>
  html,body { height: auto; }
  form.password_reset {
    margin: 10em auto 15em;
    width: 250px;
  }
  div.field label {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;    
  }
</style>
<%= form_tag password_resets_path, :class => 'password_reset', :method => :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="actions"><%= submit_tag "Reset Password" %></div>
<% end %>
