<table border="0" cellpadding="20" cellspacing="0" width="100%" id="templateFooter">
  	<tr>
      	<td align="center" valign="top" style="padding-bottom:40px;">
          	<table border="0" cellpadding="0" cellspacing="0" width="600">
                  <tr>
                  	<td colspan="3" valign="top" class="footerContent" style="padding-top:20px;" mc:edit="footer_social">
                      	<a href="*|TWITTER:PROFILEURL|*">Follow on Twitter</a> | <a href="*|FACEBOOK:PROFILEURL|*">Friend on Facebook</a> | <a href="*|FORWARD|*">Forward to Friend</a>&nbsp;
                      </td>
                  </tr>
              	<tr>
                      <td valign="top" class="footerContent" style="padding-top:20px;" mc:edit="footer_content">
                          <em>Copyright &copy; *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.</em>
                          <br>
                          *|IFNOT:ARCHIVE_PAGE|* *|LIST:DESCRIPTION|*
                          <br>
                          <br>
                          <strong>Our mailing address is:</strong>
                          <br>
                          *|HTML:LIST_ADDRESS_HTML|**|END:IF|* 
                      </td>
                  </tr>
                  <tr>
                  	<td valign="top" class="footerContent" style="padding-top:20px;" mc:edit="footer_utility">
                      	<a href="*|UNSUB|*">unsubscribe from this list</a> | <a href="*|UPDATE_PROFILE|*">update subscription preferences</a>&nbsp;
                      </td>
                  </tr>
                  <tr>
                      <td valign="top" id="monkeyRewards" class="footerContent" style="padding-top:20px;" mc:edit="monkeyrewards">
                      	*|IF:REWARDS|* *|HTML:REWARDS|* *|END:IF|*
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
  </table>