<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to AapAurMain</h1>
    <p>We'll help you find your right partner</p>
  </body>
</html>