<div class="btn-group" style="margin-left:200px;margin-top: 100px;">
  <button class="btn">Profile</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <a href="<%= url_for :controller => 'admin', :action => 'show_profile_udpates' %>">Approve profile updates</a>
  </ul>
</div>