.login label.checkbox {
  position: relative;
  top: 5px;
}

.login button.btn {
  position: relative;
  left: 170px;
}

.signup {
  clear: both; 
  margin-right: 91px;
}

.input-prepend span.add-on {
  margin-right: -5px;
}