<div class="modal hide" id="choose-thumb-modal">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Choose your thumbnail</h3>
  </div>
  
  <div class="modal-body">
    <div class="main-photo pull-left">
      <img class="main-img" src="" />
    </div>
    <div class="submit-area pull-right">
      <a class="btn btn-xlarge btn-success" href="#">Create thumbnail</a>
    </div>
  </div>
</div>
