<div class="surroundings" style="display:none">
  <div id="follow_user" class="request_outer">
    <p class="msg">
      You are about to follow <span class="user-name">&nbsp;</span>.
      <div class="actions">
        <input type="button" class="btn btn-large btn-danger yes" value="Yes" />
        <input type="button" class="btn btn-large btn-danger no" value="No" />
      </div>
    </p>
  </div>
  <div id="unfollow_user" class="request_outer">
    <p class="msg">
      You are about to unfollow <span class="user-name">&nbsp;</span>.
      <div class="actions">
        <input type="button" class="btn btn-large btn-danger yes" value="Yes" />
        <input type="button" class="btn btn-large btn-danger no" value="No" />
      </div>
    </p>
  </div>

  <div id="follow_post_message">
    <div class="request_outer">
      <p class="msg">
        Ok, good. You have followed <span class="user-name">&nbsp;</span>.
      </p>
      <p class="msg">
        Now you can keep track of their activities from your left nav under <a href="/people/i/like">People I Follow</a>
      </p>
      <p class="msg">
        You can also use the "Shortlisted feed" in your dashboard, to skim through their updates
      </p>
    </div>
  </div>

  <div id="unfollow_post_message" class="request_outer">
    <div class="request_outer">
      <p class="msg">
        Ok. You have unfollowed <span class="user-name">&nbsp;</span>.
      </p>
      <p class="msg">
        Now you <b>cannot</b> keep track of their activities.
      </p>
    </div>
  </div>
</div>
