<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "users/left_nav" %>
<% end %>
<div class="profile-wrap">
  <div class="profile-photo">
    <img src="<%= current_user.image %>" alt="user" />
  </div>
  <p class="user-name">
    <%= user.name %>
  </p>
  <div class="left-nav">
    <ul>
      <li>
        <a href="/users/<%= current_user.id %>" class="btn left-nav-button"><span class="boards">My Profile</span></a>
      </li>
      <li class="request">
        <a href="/my/requests/in" class="btn left-nav-button"><span class="incoming-req">Incoming Requests</span></a>
      </li>
      <li>
        <a href="/my/requests/out" class="btn left-nav-button left-nav-button"><span class="outgoing-req">Outgoing Requests</span></a>
      </li>
      <li class="follow">
        <a href="/people/i/like" class="btn left-nav-button"><span class="people-follow">People I Follow</span></a>
      </li>
      <li>
        <a href="/people/like/me" class="btn left-nav-button"><span class="my-followers">My Followers</span></a>
      </li>
      <li class="hide">
        <a href="/my/top/stories" class="btn left-nav-button"><span class="top-story">My Top Stories</span></a>
      </li>
    </ul>
  </div>
</div>
