<% content_for :stylesheet do %>
<%= stylesheet_link_tag "users/request_message" %>
<% end %>
<div class="surrounding" style="display:none">
  <div id="request_accept" class="request_outer bpopup request_sorts">
    <p class="msg accept">
      Are you sure you want to accept the request from <span class="user-name">&nbsp;</span>
      <div class="actions">
        <input type="button" class="btn btn-large btn-danger yes" value="Yes" />
        <input type="button" class="btn btn-large btn-danger no" value="No" />
      </div>
    </p>
  </div>
  <div id="request_declined" class="request_outer bpopup">
    <p class="msg declined">
      Sorry, you have already declined the request sent to you once from <span class="user-name">&nbsp;</span>
    </p>
  </div>
  <div id="request_break" class="request_outer bpopup request_sorts">
    <p class="msg break">
      Are you sure you want to break your lock with <span class="user-name">&nbsp;</span>
      <div class="actions">
        <input type="button" class="btn btn-large btn-danger yes" value="Yes" />
        <input type="button" class="btn btn-large btn-danger no" value="No" />
      </div>
    </p>
  </div>
  <div id="request_withdraw" class="request_outer bpopup request_sorts">
    <p class="msg withdraw">
      Are you sure you want to withdraw your request from <span class="user-name">&nbsp;</span>
      <div class="actions">
        <input type="button" class="btn btn-large btn-danger yes" value="Yes" />
        <input type="button" class="btn btn-large btn-danger no" value="No" />
      </div>
    </p>
  </div>
  <div id="request_sent" class="request_outer bpopup">
    <p class="msg">
      Sorry, you have already sent a request once to <span class="user-name">&nbsp;</span>
    </p>
  </div>
  <div id="request_send" class="request_outer bpopup request_sorts">
    <p class="msg">
      You are about to send a request to <span class="user-name">&nbsp;</span>
      <div class="actions">
        <input type="button" class="btn btn-large btn-danger yes" value="Yes" />
        <input type="button" class="btn btn-large btn-danger no" value="No" />
      </div>
    </p>
  </div>
</div>
