<% content_for :stylesheet do %>
<%= stylesheet_link_tag "users/top_section" %>
<% end %>
<div class="slider-box">
  <div class="clearfix">
    <div class="box-contents">
      <div class="user-box clearfix">
        <div class="profile-bg">
          <img src="/assets/users/user-slide.jpg" alt="<%= user.name %>" />
        </div>
        <div class="user-inform">
          <p><%= user.name %></p>
        </div>
        <div class="text-blk">
          <p>&quot;<%= user.short_bio || "Just Another User" %>&quot;</p>
        </div>
      </div>
    </div>
    <div class="blog-box">
      <h3>Recent Blogs</h3>
      <ul>
        <li>
          <p class="blg-tit">
            Title of the most recent blog
          </p>
          <p class="blg-ct">
            August 02, 2012
          </p>
        </li>
        <li>
          <p class="blg-tit">
            Title of the most author
          </p>
          <p class="blg-ct">
            September 20, 2012
          </p>
        </li>
        <li class="last">
          <p class="blg-tit">
            Another Sample blog post
          </p>
          <p class="blg-ct">
            December 15, 2012
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="btn-wraper clearfix">
    <a href="#" class="button"><span class="send-req">Send Request</span></a>
    <a href="#" class="button"><span class="follow-user">Follow User</span></a>
    <a href="#" class="button"><span class="rate-profile">Rate the profile</span></a>
  </div>
</div>
