<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../../assets/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="../../assets/stylesheets/profile.css">
	</head>
	<body>
		<aside>
			<div class="profileSideNav">
				<img src="http://placehold.it/260x180" class="profileImage" />
				<div class="sideNavButtons">
					<input type="button" class="btn-small btn-success" value="My album"></input>
					<br />
					<br />
					<span class="badge badge-success">2 Ques</span>
					<span class="badge badge-warning">4 Interests</span>
					<br />
					<span class="badge badge-info">8 Views</span>
					<span class="badge badge-important">6 Msgs</span>
				</div>
			</div>

		</aside>
		<div class="container profile">
			<div class="profileIntro">
				<div class="bioSection">
						<h1 class="name">Arindam Chakraborty</h1>
						<h3 class="shortBio">Coder, Death Metal fan, Learner for life</h3>
				</div>
				<div class="profileActions">
					<input type="button" class="btn btn-primary sendRequest" value="Send Request"></input>
					<input type="button" class="btn btn-info askQuestion" value="Ask a Question"></input>
				</div>
			</div>
			
			<div class="recoFields row group">
				<h4 class="span2">Ideal Partner</h4>
				<p class="span4">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
				<h4 class="span2">Interested In</h4>
				<p class="span4">Vivamus sagittis lacus vel augue natoque penatibus et magnis dis parturient montes natoque penatibuset magnis dis parturient montes</p>
			</div>
			
			<div class="personalDetails group">
				<div class="row">
					<h4 class="span2">Profession</h4>
					<p class="span4">Software Engineer</p>
					<h4 class="span2">Education</h4>
					<p class="span4">B.Tech Computer Science</p>
				</div>
				<div class="row">
					<h4 class="span2">Hobbies</h4>
					<p class="span4">Table Tennis</p>
					<h4 class="span2">Further Education Plans</h4>
					<p class="span4">Entrepreneurship</p>
				</div>				
			</div>
			
			<div class="group">
				<div class="row">
					<h4 class="span2">Dream For Future</h4>
					<p class="span4">To be a batman</p>
					<h4 class="span2">Not Interested In</h4>
					<p class="span4">Dumb Females</p>
				</div>
				<br />
				<div class="row">
					<h4 class="span2">Settled In</h4>
					<p class="span4">New Delhi</p>
					<h4 class="span2">Willing To Settle Abroad?</h4>
					<p class="span4">No</p>
				</div>				
			</div>
			
			<div class="preferences group">
				<div class="row">
					<h4 class="span2">Spouse Preference</h4>
					<p class="span4">Working</p>
					<h4 class="span2">Family Preference</h4>
					<p class="span4">Joint Family</p>
				</div>
				<br />
				<!-- <div class="row">
					<h4 class="span2">Settled In</h4>
					<p class="span4">New Delhi</p>
					<h4 class="span2">Willing To Settle Abroad?</h4>
					<p class="span4">No</p>
				</div>				 -->
			</div>
			
			
		</div>
	</body>
</html>