<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../../assets/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="../../assets/stylesheets/profile.css">
	</head>
	<body>
		<aside>
			<div class="profileSideNav">
				<img src="http://placehold.it/260x180" class="profileImage" />
				<div class="sideNavButtons">
					<input type="button" class="btn-small btn-success" value="My album"></input>
					<br />
					<br />
					<span class="badge badge-success">2 Ques</span>
					<span class="badge badge-warning">4 Interests</span>
					<br />
					<span class="badge badge-info">8 Views</span>
					<span class="badge badge-important">6 Msgs</span>
				</div>
			</div>

		</aside>
		<div class="container profile">
			<div class="profileIntro">
				<div class="bioSection">
						<h1 class="name">Arindam Chakraborty</h1>
						<h3 class="shortBio">Coder, Death Metal fan, Learner for life</h3>
				</div>
				<div class="profileActions">
					<input type="button" class="btn btn-success sendRequest" value="Send Request"></input>
					<input type="button" class="btn btn-success askQuestion" value="Ask a Question"></input>
				</div>
			</div>
			
			<div class="recoFields row group">
				<!-- <div class="row">
					<span class="label label-important"><em>Stuff that matters</em></span>
				</div> -->
				<h4 class="span2">Ideal Partner</h4>
				<p class="span4">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
				<h4 class="span2">Interested In</h4>
				<p class="span4">Vivamus sagittis lacus vel augue natoque penatibus et magnis dis parturient montes natoque penatibuset magnis dis parturient montes</p>
			</div>
			
			<div class="personalDetails group">
				<div class="row">
					<span class="label label-important"><em>Stuff that is important</em></span>
				</div>
				<div class="row">
					<h4 class="span2">Profession</h4>
					<p class="span4">Software Engineer</p>
					<h4 class="span2">Education</h4>
					<p class="span4">B.Tech Computer Science</p>
				</div>
				<div class="row">
					<h4 class="span2">Hobbies</h4>
					<p class="span4">Table Tennis</p>
					<h4 class="span2">Further Education Plans</h4>
					<p class="span4">Entrepreneurship</p>
				</div>	
				<div class="row">
					<h4 class="span2">Dream For Future</h4>
					<p class="span8">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
					"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>	
				</div>	
				<div class="row">
					<h4 class="span2">Not Interested In</h4>
					<p class="span8">Dumb Females</p>
				</div>	
			</div>
			
			
			<div class="spousePreferences group">
				<div class="row">
					<span class="label label-info"><em>Aap</em></span>
				</div>
				<div class="row">
					<h4 class="span2">Spouse Preference</h4>
					<p class="span4">Working</p>
					<h4 class="span2">Spouse's Further Education Plans</h4>
					<p class="span4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fermentum risus ut tortor convallis hendrerit.</p>
				</div>
				<br />
			</div>
			
			<div class="group">
					<div class="row">
						<span class="label label-warning"><em>The taboo topics!</em></span>
					</div>
				<div class="row">
						<h4 class="span2">Opinion on Virginity</h4>
						<p class="span8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fermentum risus ut tortor convallis hendrerit.</p>
				</div>
			</div>
			
			<div class="group">
					<div class="row">
						<span class="label label-success"><em>I Me Myself(Main)</em></span>
					</div>
				<div class="row">
						<h4 class="span2">Sex[y]</h4>
						<p class="span4">Male</p>
						<h4 class="span2">I can reach till</h4>
						<p class="span4">5 feet 4 inches</p>
				</div>
				<div class="row">
					<h4 class="span2">The day earth was blessed</h4>
					<p class="span4">June 03,1987</p>
					<h4 class="span2">Max shopping bill that i can afford</h4>
					<p class="span4">Rs60,000</p>
				</div>
				<div class="row">
						<h4 class="span2">Settled In</h4>
						<p class="span4">New Delhi</p>
						<h4 class="span2">Willing to relocate</h4>
						<p class="span4">Hyderabad,Pune</p>
				</div>	
				<div class="row">
						<h4 class="span2">Sexual Preference</h4>
						<p class="span4">Straight</p>
						<h4 class="span2">Family Preference</h4>
						<p class="span4">Hyderabad,Pune</p>
				</div>	
				<div class="row">
						<h4 class="span2">Siblings</h4>
						<p class="span4">One</p>
				</div>		
			</div>
			
			
		</div>
	</body>
</html>