<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application-user" %>
  </head>
  <body>
    <aside>
      <div class="profileSideNav">
        <img src="http://placehold.it/260x180" class="profileImage" />
        <div class="sideNavButtons">
          <input type="button" class="btn-small btn-success" value="My album" />
          <br />
          <br />
          <span class="badge badge-success">2 Ques</span>
          <span class="badge badge-warning">4 Interests</span>
          <br />
          <span class="badge badge-info">8 Views</span>
          <span class="badge badge-important">6 Msgs</span>
        </div>
      </div>

    </aside>
    <div class="container profile">
      <div class="profileIntro">
        <div class="bioSection">
          <h1 class="name">Arindam Chakraborty</h1>
          <h3 class="shortBio">Coder, Death Metal fan, Learner for life</h3>
        </div>
        <div class="profileActions">
          <input type="button" class="btn btn-success sendRequest" value="Send Request" />
          <input type="button" class="btn btn-success askQuestion" value="Ask a Question" />
        </div>
      </div>
    
      <div class="recoFields row group">
        <label class="span2">Ideal Partner</label>
        <label class="span4">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes.</label>
        <label class="span2">Interested In</label>
        <label class="span4">Vivamus sagittis lacus vel augue natoque penatibus et magnis dis parturient montes natoque penatibuset magnis dis parturient montes</label>
      </div>
    
      <div class="personalDetails group">
        <div class="row">
          <span class="label label-important"><em>Stuff that is important</em></span>
        </div>
        <div class="row">
          <label class="span2">Profession</label>
          <label class="span4">Software Engineer</label>
          <label class="span2">Education</label>
          <label class="span4">B.Tech Computer Science</label>
        </div>
        <div class="row">
          <label class="span2">Hobbies</label>
          <label class="span4">Table Tennis</label>
          <label class="span2">Further Education Plans</label>
          <label class="span4">Entrepreneurship</label>
        </div>	
        <div class="row">
          <label class="span2">Dream For Future</label>
          <label class="span4">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
          "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</label>	
          <label class="span2">Not Interested In</label>
          <label class="span4">Dumb Females</label>
        </div>	
      </div>
    
    
      <div class="spousePreferences group">
        <div class="row">
          <span class="label label-info"><em>Aap</em></span>
        </div>
        <div class="row">
          <label class="span2">Spouse Preference</label>
          <label class="span4">Working</label>
          <label class="span2">Spouse's Further Education Plans</label>
          <label class="span4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fermentum risus ut tortor convallis hendrerit.</label>
        </div>
        <br />
      </div>
    
      <div class="group">
          <div class="row">
            <span class="label label-warning"><em>The taboo topics!</em></span>
          </div>
        <div class="row">
          <label class="span2">Opinion on Virginity</label>
          <label class="span8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fermentum risus ut tortor convallis hendrerit.</label>
        </div>
      </div>
    
      <div class="group">
          <div class="row">
          	<span class="label label-success"><em>I Me Myself(Main)</em></span>
          </div>
        <div class="row">
          <label class="span2 h4">Sex[y]</label>
          <label class="span4">Male</label>
          <label class="span2 h4">I can reach till</label>
          <label class="span4">5 feet 4 inches</label>
        </div>
        <div class="row">
          <label class="span2 h4">The day earth was blessed</label>
          <label class="span4">June 03,1987</label>
          <label class="span2 h4">Max shopping bill that i can afford</label>
          <label class="span4">Rs60,000</label>
        </div>
        <div class="row">
          <label class="span2">Settled In</label>
          <label class="span4">New Delhi</label>
          <label class="span2">Willing to relocate</label>
          <label class="span4">Hyderabad,Pune</label>
        </div>	
        <div class="row">
          <label class="span2">Sexual Preference</label>
          <label class="span4">Straight</label>
          <label class="span2">Family Preference</label>
          <label class="span4">Hyderabad,Pune</label>
        </div>
        <div class="row">
          <label class="span2">Siblings</label>
          <label class="span4">One</label>
        </div>
      </div>
    
    
    </div>
  </body>
</html>