<link rel="stylesheet" href="../../assets/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="../../assets/stylesheets/dashboard.css">
<link rel="stylesheet" href="../../assets/stylesheets/viewer_pane.css">
<div class="viewerPane requestContainer span10">
	<div class="row">
		<img class="span4" src="http://placehold.it/160x120">
		<h4 class="span2">Ideal Partner</h4>
		<p class="span6">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
		<h4 class="span2">Interested In</h4>
		<p class="span6">Vivamus sagittis lacus vel augue natoque penatibus et magnis dis parturient montes natoque penatibuset magnis dis parturient montes</p>	
		<div class="row">
		<h4 class="span2">Hobbies</h4>
		<p class="span6">Table Tennis, Guitar , BC</p>
		<h4 class="span2">Profession</h4>
		<p class="span6">Software Engineer</p>	
		</div>									
	</div>
	<div class="pull-right">
	<input type="button" class="btn  sendRequest" value="Send Request"></input>
	<input type="button" class="btn  askQuestion" value="Ask a Question"></input>
	</div>	
</div>