<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>Price for AapAurMain</title>
    <%= stylesheet_link_tag 'pricing' %>
    <%= stylesheet_link_tag 'all/bootstrap.min' %>
  </head>
  <body>
    <div class="content">

      <section class="message">
        <h3>Well Ahoy! Take some time to go through what we have to offer</h3>
        <h2>We promise, you would like it</h2>
      </section>
      
      <section class="pricingSection">
        <div class="free">
          <h2 class="freeHeader">Take a free ride</h2>
          <button class="start freeplan" href="#">You are here :-)</button>
          
          <div class="features free">
            <h2>Forever Free</h2>
            
            <ul class="featuresList">
              <li>Register
                <i class="icon-question-sign" rel="tooltip" data-original-title="What should your partner's opinion be on your plans for further education"></i>
              </li>
              <li>Create your profile
                <i class="icon-question-sign" rel="tooltip" data-original-title="What should your partner's opinion be on your plans for further education"></i>
              </li>
              <li>Search to see if someone is there for you
                <i class="icon-question-sign" rel="tooltip" data-original-title="What should your partner's opinion be on your plans for further education"></i>
              </li>
              <li>Upload a picture as profile pic
                <i class="icon-question-sign" rel="tooltip" data-original-title="What should your partner's opinion be on your plans for further education"></i>
              </li>
              <li>Get Recommendations that match you through email
                <i class="icon-question-sign" rel="tooltip" data-original-title="What should your partner's opinion be on your plans for further education"></i>
              </li>
            </ul>
            
            <span class="freeFooter">Good huh?</span>
          </div> <!-- div.features.free -->
          
        </div> <!-- div.free -->

        <img src="../assets/or.png" class="or" />
        
        <div class="paid">
          <h2 class="paidHeader">Show us some love</h2>
          
          <button class="start paid1" href="#">Try it?</button>
          <button class="start paid2" href="#">Try it?</button>
          
          <div class="listing">
            <div class="plansHeader">
              <h2 class="leftTop">Extempore</h2>
              <h2 class="rightTop">Planned</h2>
            </div> <!-- div.plans -->
          
            <ul class="featuresList paidFeatures">
              <li>Register
                <i class="icon-question-sign" rel="tooltip" data-original-title="What should your partner's opinion be on your plans for further education"></i>
              </li>
              <li>Create your profile
                <i class="icon-question-sign" rel="tooltip" data-original-title="What should your partner's opinion be on your plans for further education"></i>
              </li>
              <li>Search to see if someone is there for you
                <i class="icon-question-sign" rel="tooltip" data-original-title="What should your partner's opinion be on your plans for further education"></i>
              </li>
              <li>Upload a picture as profile pic
                <i class="icon-question-sign" rel="tooltip" data-original-title="What should your partner's opinion be on your plans for further education"></i>
              </li>
              <li>Get Recommendations that match you through email
                <i class="icon-question-sign" rel="tooltip" data-original-title="What should your partner's opinion be on your plans for further education"></i>
              </li>
            </ul>
          
            <div class="plansFooter">
              <h2 class="leftBot">Ends in </h2>
              <h2 class="rightBot">Will always be there</h2>
            </div> <!-- div.plansFooter -->
          
          </div> <!-- div.listing -->
          
        </div> <!-- div.paid -->
      </section>
      
    </div>
    
  </body>
</html>