<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>Price for AapAurMain</title>
    <%= stylesheet_link_tag 'pricing' %>
    <%= stylesheet_link_tag 'all/bootstrap.min' %>
  </head>
  <body>
    <a href="/" id="logo"></a>
    <div class="content">

      <section class="message">
        <img src="assets/pricing/piggy-bank.png" class="piggy"/>
        <h3>Well Ahoy! Take some time to go through what we have to offer</h3>
        <h2>We promise, you would like it</h2>
      </section>
      
      <section class="pricingSection">
        <img src="assets/pricing/free.png" class="freeImg" />
        <div class="features">
          <ul class="featuresList">
            <li class="outline"><img src="assets/pricing/article.png" />Free full profile creation</li>
            <li class="outline"><img src="assets/pricing/search.png" />Search your matches</li>
            <li class="outline"><img src="assets/pricing/camera 2.png" />Upload your profile pic</li>
            <li class="outline"><img src="assets/pricing/sprout.png" />Get Recommendations
              <i class="icon-question-sign" rel="tooltip" data-original-title="What should your partner's opinion be on your plans for further education"></i>
            </li>
          </ul>
        </div> <!-- div.features -->
        <img src="assets/pricing/free-pricing.png" class="freePrice" />
          
        <img src="assets/pricing/extempore.png" class="extemporeImg" />
        <div class="extempore">
          <ul class="featuresList">
            <li class="outline"><img src="assets/pricing/clock 2.png" /><em>1 MONTH PLAN</em></li>
            <li class="outline">Build your profile
              <ul>
                <li class="liContent"><img src="assets/pricing/gallery-add.png" />Create photo album<i class="icon-question-sign" rel="tooltip" data-original-title="What should your partner's opinion be on your plans for further education"></i></li>
              </ul>
            </li>
            <li class="outline">Interact with your match
              <ul>
                <li class="liContent"><img src="assets/pricing/bag-add.png" />Say 'hi' to matches<i class="icon-question-sign" rel="tooltip" data-original-title="What should your partner's opinion be on your plans for further education"></i></li>
                <li class="liContent"><img src="assets/pricing/envelope-with-pencil.png" />Exchange offline message<i class="icon-question-sign" rel="tooltip" data-original-title="What should your partner's opinion be on your plans for further education"></i></li>
                <li class="liContent"><img src="assets/pricing/comment.png" />Full chat support<i class="icon-question-sign" rel="tooltip" data-original-title="What should your partner's opinion be on your plans for further education"></i></li>
              </ul>
            </li>
            <li class="outline">Get profile analytics
              <ul>
                <li class="liContent"><img src="assets/pricing/star.png" />Snapshot of your profile views<i class="icon-question-sign" rel="tooltip" data-original-title="What should your partner's opinion be on your plans for further education"></i></li>
                <li class="liContent"><img src="assets/pricing/users-2.png" />Detailed info on your popularity<i class="icon-question-sign" rel="tooltip" data-original-title="What should your partner's opinion be on your plans for further education"></i></li>
              </ul>
            </li>
          </ul>
          <button class="start">Upgrade</button>
        </div> <!-- div.extempore -->
        <img src="assets/pricing/extempore-pricing.png" class="extemporePrice"/>
        
        <img src="assets/pricing/planned.png" class="plannedImg"/>
        <div class="planned">
          <ul class="featuresList">
            <li class="outline"><img src="assets/pricing/clock 2.png" /><em>3 MONTHS PLAN</em></li>
            <li class="outline">Build your profile
              <ul>
                <li class="liContent"><img src="assets/pricing/gallery-add.png" />Create photo album</li>
              </ul>
            </li>
            <li class="outline">Interact with your match
              <ul>
                <li class="liContent"><img src="assets/pricing/bag-add.png" />Say 'hi' to matches</li>
                <li class="liContent"><img src="assets/pricing/envelope-with-pencil.png" />Exchange offline message</li>
                <li class="liContent"><img src="assets/pricing/comment.png" />Full chat support</li>
              </ul>
            </li>
            <li class="outline">Get profile analytics
              <ul>
                <li class="liContent"><img src="assets/pricing/star.png" />Snapshot of your profile views</li>
                <li class="liContent"><img src="assets/pricing/users-2.png" />Detailed info on your popularity</li>
              </ul>
            </li>
          </ul>
          <button class="start">Upgrade</button>
        </div> <!-- div.planned -->
        <img src="assets/pricing/planned-pricing.png" class="plannedPrice" />

          
      </section>
      
    </div>
    
    <div class="faqs">
      <h2 class="faqHeader">Thoughts on your mind about the pricing?</h2>
      <div class="faqWrapper">
        <div class="leftCol">
          
          <div class="q">
            <div class="question">Why do I need to upgrade my membership with AapAurMain.com?</div>
            <p>Extempore / Planned memberships are for members to avail the set of services mentioned above. You cannot get them without the upgrade.</p>
          </div>
        
          <div class="q">
            <div class="question">How do I pay for upgrading my membership into the Extempore or Planned subscription?</div>
            <p>You can pay by your Credit Card or Debit Card. We accept credit cards / debit cards of most of the financial institutions other than Amex Credit Cards. The payment options are well tried out; verified and completely safe for online transactions. You may choose the one month plan or the quarterly plan as per your comfort.</p>
          </div>
          
          <div class="q">
            <div class="question">Can I pay by cash for any of the subscription plans?</div>
            <p>We only allow online transactions through Credit or Debit Cards. You may leverage your network and pay through your acquaintance / friend’s card in case you do not have one.</p>
          </div>

          <div class="q">
            <div class="question">How does the billing cycle work for my subscription?</div>
            <p>There is no billing cycle as per our payment options. You invest one at a time in either the one month plan or one quarter plan. We only charge you upfront for that time period only. There will be <em>No Recurring Payment</em> at the end of your subscription period. In case you need to continue, you will have to buy another subscription further.</p>
          </div>
          
        </div> <!-- div.leftCol -->
      
        <div class="rightCol">
          
          <div class="q">
            <div class="question">What if I want to renew my subscription? Will I get a discount?</div>
            <p>In case you feel that you want to avail our services for wee bit longer, you need to sign up for another subscription. We do not provide a discount for returning users. As mentioned, we do not charge you unless you upgrade your plan type on the website.</p>
          </div>
          
          <div class="q">
            <div class="question">Can I cancel or downgrade anytime from any of the subscription plan? Will I be charged a cancellation fee?</div>
            <p> You cannot cancel or downgrade your subscription during your membership period and we do not have a prorated refund of subscription fee across any plan. At the end of the subscription period, the system will automatically downgrade you to the Free Membership plan status.</p>
          </div>
          
          <div class="q">
            <div class="question">How do I track my membership period duration?</div>
            <p>You will be sent reminder alert mails twice starting two weeks from the subscription expiry date. We ensure adequate time frame for users to renew their subscription after expiry should you feel the need to maintain your association with us.</p>
          </div>

          <div class="q">
            <div class="question">How is the Extempore Plan different from the Planned Subscription?</div>
            <p>The features provided to users of the Extempore and Planned subscription types are largely similar other than the duration of both the plans. The plans are differentiated based on the time people take to figure out their partner. Planned is for the people who want to take their time vis – a – vis the Extempore type people who are pretty much good to go with the flow. We understand needs across the ends! :)
            </p>
          </div>
          
        </div> <!-- div.rightCol -->
      </div>
    </div>
  </body>
</html>