.questionContainer {
  background: rgba(77, 121, 199, 0.38);
  border-radius: 10px;
  position: relative;
  top: 50px;
  left: 18%;
  padding: 30px;
  margin-bottom: 60px;
  font-size: 16px;
}
.answerType {
  padding: 10px;
}
.text-helper {
  padding-bottom: 10px;
}
.questionBody {
  width: 80%;
}
