body {
  background: url('denim-bg.png');
}

.piggy {
  position: absolute;
  left: -80px;
}

.logo {
  position: relative;
  left: 500px;
  width: 95px;
  height: 102px;
}
.content {
  color: #F5F5F5;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -moz-box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  left: 150px;
  width: 1080px;
  height: 690px;
}

.message {
  position: relative;
  left: 300px;
  top: 50px;
}

.pricingSection {
  position: relative;
  padding: 30px;
  top: 40px;
}

h2.freeHeader {
  position: relative;
  left: 70px;
}

.features.free:hover {
  opacity: 1;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(0,0,0,0.4)));
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}

.features h2, .extempore h2, .planned h2 {
  border-bottom: 2px solid rgba(68, 61, 61, 0.63);
  padding-bottom: 25px;
  position: relative;
}

ul.featuresList {
  padding: 0;
  margin: 0;
  position: relative;
}

.featuresList li.outline {
  list-style-type: none;
  padding: 15px 0 15px 0;
  width: auto;
  font-size: 20px;
  position: relative;
  font-family: 'Oregano' cursive;
  border-bottom: 2px solid gray;
}

.featuresList li i {
  left: 10px;
  position: relative;
  top: 2px;
}

.featuresList ul li {
  list-style-type: none;
  padding-top: 5px;
}

li.outline ul {
  position: relative;
  top: 10px;
}
.featuresList li.liContent, .features li.outline {
  font-family: sans-serif;
  font-size: 14px;
}

.freeFooter {
  font-size: 24px;
  line-height: 36px;
}

.extempore, .planned, .features{
  width: 284px;
  position: absolute;
  float: left;
  top: 149px;
  padding: 15px;
  border-radius: 13px 13px 143px 143px;
  height: 500px;
  background: rgba(83, 79, 62, 0.82);
}

.features {
  left: 33px;
}

.extempore {
  left: 366px;
}

.planned {
  left: 705px;
}

h2.paidHeader {
  position: relative;
  left: 180px;
  display: block;
}

.paid .hint {
  position: relative;
  top: -12px;
  left: 100px;
}

.listing {
  background: #191814;
  border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  -moz-box-shadow: 10px 10px 10px rgba(44, 99, 99, 0.36);
  padding: 15px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  position: relative;
  top: 30px;
}

.listing:hover {
  opacity: 1;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(0,0,0,0.4)));
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}

.plansHeader {
  border-bottom: 2px solid rgba(68, 61, 61, 0.63);
  padding-bottom: 15px;
}

h2.leftTop {
  border-right: 2px solid gray;
  padding-right: 70px;
  padding-left: 70px;
  display: inline;
}

h2.rightTop {
  display: inline;
  padding-left: 80px;
}

.plansFooter {
  padding: 10px 0;
}

h2.leftBot {
  border-right: 2px solid gray;
  padding-right: 70px;
  padding-left: 100px;
  display: inline;
}

h2.rightBot {
  padding-left: 30px;
  display: inline;
}

i.icon-question-sign {
  background-image: url('pricing/question.png');
  background-position: 0px 0px;
  width: 14px;
  height: 14px;
}

button.start {
  position: relative;
  top: 20px;
  padding: 10px;
  left: 30px;
  border-radius: 10px;
  background: #E64343;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0, 0.4), rgba(230, 67, 67, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(230, 67, 67, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(230, 67, 67, 0));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(230, 67, 67, 0));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(230, 67, 67, 0));
  box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.2);
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  height: 50px;
  width: 230px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  z-index: 300;
}

button:hover {
  background: #A0EEA0;
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0, 0.4), rgba(230, 67, 67, 0));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(230, 67, 67, 0));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(230, 67, 67, 0));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(230, 67, 67, 0));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(230, 67, 67, 0));
}

.faqs {
  position: relative;
  color: #D8BFD8;
  top: 300px;
}

h2.faqHeader {
  position: relative;
  left: 480px;
  top: 20px;
  font-family: 'Oregano' cursive;
}

.faqWrapper {
  position: relative;
  left: 200px;
  background: #0E2930;
  height: 820px;
  top: 30px;
  border-radius: 10px;
  box-shadow: -10px 10px 10px 10px rgba(0, 0, 0, 0.4);
  width: 980px;
}

.rightCol {
  left: 480px;
}

.leftCol, .rightCol {
  position: absolute;
  float: left;
  border-radius: 10px;
  padding: 30px;
  width: 450px;
}

.leftCol .question, .rightCol .question {
  font-family: 'Orgeano' cursive;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  color: #FCE700;
  line-height: 24px;
  margin-bottom: 10px;
}

.leftCol p, .rightCol p {
  font-family: 'Times New Roman' sans-serif;
  font-size: 16px;
  position: relative;
  line-height: 19px;
}

.q {
  padding: 10px;
}

.thoughtsImage {
  position: absolute;
  top: 50px;
  width: 140px;
  left: 60px;
}

.iconProfile {
  background: url('pricing/article.png');
}

.featuresList img {
  width: 25px;
  margin-right: 10px;
}

.freePrice, .extemporePrice, .plannedPrice {
  position: absolute;
  top: 587px;
}
.freePrice {
  left: 30px;
}
.extemporePrice {
  left: 370px;
}
.plannedPrice {
  left: 710px;
}

.extemporeImg {
  position: absolute;
  top: 30px;
  left: 360px;
}

.plannedImg {
  position: absolute;
  top: 32px;
  left: 690px;
}