#dob .btn-group {
  display: inline;
}

#dob .btn-group a.dropdown-toggle {
  margin: 0 10px 0 0;
}

.span10 .span9 {
  height: 30px;
  margin-bottom: 10px;
  padding-top: 9px;
  font-size: 16px;
}

[class*=more]{
  margin-top: 10px;
}

[class*=more] i {
  padding-right: 5px;
}

.help-inline {
  font-size: 11px;
  color: gray;
}

button.saveDetails {
  position: relative;
  left: 40%;
}