/*.requestLabel     { margin: 20px 0 10px 20px; }
ul.requestList      { height: 170px;
                      margin: 20px 0 0px 35px;
                      overflow: scroll;
                      width: 745px;
                      list-style: none;
                      position: relative;}
.requestList li     {
  list-style: none;
  padding-right: 30px;
  position: absolute;
  float: left;
  width: 100px;
  display: inline;
}

.dashBoardContainer   {
  background-color: #DAD9D3; 
  width: 60%;
}

.requestContainer   {
  background: #111123;
  border-radius: 5px;
  border: 1px solid #DAD9D3;
  color: white;
}
.profile      { background-color:#DCEAF4; width: 60%; height: 100%;}
.profileImage   { float: left;}
.profileActions   { padding-top: 12px;}

.profileIntro   {   
  border: 1px solid #00F5FF;
  background: lightBlue;
  border-radius: 5px;
  overflow: hidden;
}
.profileSideNav   {
  background-color: rgba(251, 180, 80, 0.66);
  width: 15%;
  float: left;
  height: 100%;
  margin-left: 54px;
}
.span4        {width: 245px;}
.span2        {width: 100px;}

.group        {
  border-bottom: 2px solid #00F5FF;
  border-radius: 5px;
  padding-left: 10px; 
  margin-top: 2%;
  padding-bottom: 2%

}
.sideNavButtons   {text-align: center;}           

.vpThumb          { float: left;
                    padding: 20px 0 0 40px;}

.viewerPane       { background: #111123;}

.viewerPane span  { display: block;}
.viewerPane span.label  { font-size: 14px; margin: 10px 0 5px 0; width: 100px;}
.vpInfo           { padding: 10px 20px 40px 310px;
                    font-size: 14px;
                    line-height: 1.5;}
                    
.viewerPane .buttons  { padding: 0 20px 20px;}
.viewerPane .buttons input { margin-right: 15px;}
*/

.requestLabel {
  margin: 20px 0 10px 20px;
}
ul.requestList {
  height: 170px;
  margin: 20px 0 0px 35px;
  overflow: scroll;
  width: 95%;
  list-style: none;
  position: relative;
}
.requestList li {
  list-style: none;
  padding-right: 30px;
  float: left;
  width: 100px;
  display: inline;
}

.dashBoardContainer  	{
  width: 100%;
}

.requestContainer		{
  background: #191814;
  border-radius: 5px;
  border: 1px solid #DAD9D3;
  color: white;
  margin-left: 10px;
  width: 98%;
}
.profileImage {
  float: left;
}
.profileActions {
  padding-top: 12px;
}

.profileIntro {
  border: 1px solid #00F5FF;
  background: lightBlue;
  border-radius: 5px;
  overflow: hidden;
}
.profileSideNav {
  background-color: rgba(251, 180, 80, 0.66);
  width: 15%;
  float: left;
  height: 100%;
  margin-left: 54px;
}
.span4 {
  width: 245px;
}
.span2 {
  width: 100px;
}

.group {
  border-bottom: 2px solid #00F5FF;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 2%;
  padding-bottom: 2%
}
.sideNavButtons {
  text-align: center;
}

.vpThumb {
  float: left;
  padding: 20px 0 0 40px;
}

.viewerPane {
  border-radius: 5px;
  border: 1px solid #DAD9D3;
  margin-left: 10px;
  padding: 10px;
}

.viewerPane span {
  display: block;
}
.viewerPane span.label {
  font-size: 14px;
  margin: 10px 0 5px 0;
  width: 100px;
}
.vpInfo {
  padding: 10px 20px 40px 310px;
  font-size: 14px;
  line-height: 1.5;
}

.viewerPane .buttons {
  padding: 0 20px 20px;
}
.viewerPane .buttons input {
  margin-right: 15px;
}
.span4 {
  width: 170px;
}
.span2 {
  width: 120px;
  margin-left: 50px;
}


.select-thumbnails img {
  border: 2px solid white;
}