#left_content {
  position: relative;
  top: 50px;
  left: 20px;
  margin-right: 20px;
  padding: 20px 20px 10px 20px;
  background: rgba(0, 255, 214, 0.28);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
}

.shortBio {
  color: white;
  display: block;
  font-size: 20px;
  font-family: 'Oregano';
  line-height: 25px;
}

