<div class="modal ie-alert hide" id="ie-message-modal">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Notice about your browser</h3>
  </div>
  <div class="modal-body">
    We notice you are using Internet Explorer 8 or less.
    <br/><br/>
    Your experience with AapAurMain might not be that great with this.
    <br/><br/>
    We recommend one of these things:
    <ul>
      <li>Upgrade IE to IE9 or IE 10.</li>
      <li>Download and Install Google Chrome from <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">here</a></li>
      <li>Download and Install Mozilla Firefox from <a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">here</a></li>
      <li>Download and Install Safari from <a href="http://www.apple.com/in/safari/" target="_blank">here</a></li>
    </ul>
  </div>
  <div class="modal-footer">
    Thanks for co-operating.
  </div>
</div>
