<li>
<li class="common-panels">
  <p class="shared-by">
    Common Boards shared by <b>you</b> and <span class="other-user">&nbsp;</span>
  </p>
  <p class="datas common-panels">&nbsp;</p>
</li>
<li class="other-panels">
  <p class="shared-by">
    <span class="other-user">&nbsp;</span>&apos;s other panels
  </p>
  <p class="datas other-panels">&nbsp;</p>
</li>
</li>
