<ul class="questions">
  <li class="question">
    <div class="user-left">
      <img src="/assets/users/user-1.jpg" alt="user" />
    </div>
    <div class="qn-right">
      <p class="shared-by q-text">&nbsp;</p>
      <p class="datas a-text">&nbsp;</p>
    </div>
  </li>
</ul>
