<% question = question || {} 
   user = user || dummy_user %>
<li class="question">
  <div class="user-left">
    <img src="<%= user.photo_url || default_image(user, 'small') %>" alt="<%= user.name %>" />
  </div>
  <div class="qn-right">
    <p class="shared-by q-text"><%= question[:q] %></p>
    <p class="datas a-text"><%= question[:a] %></p>
  </div>
</li>
