<li>
  <div class="clearfix">
    <div class="comment-user">
      <img src="/assets/users/user-3.jpg" class="comment-user-img" alt="<%= comment['by'] %>" />
    </div>
    <div class="comment">
      <div class="comment-prsn clearfix">
        <p class="comment-creator"><%= comment['by'] %></p>
        <span class="comment-time"><%= distance_of_time_in_words_to_now(Time.parse(comment['when'])) %> ago</span>
      </div>
      <p class="comment-text"><%= comment['text'] %></p>
      <div class="comment-like-area">
        <a href="#" class="link-like-comment"></a><a href="#" class="j-show-comment-claps"><span class="comment-claps">&nbsp;</span></a>
        <a href="#" class="link-dislike-comment"></a><a href="#" class="j-show-comment-boos"><span class="comment-boos">&nbsp;</span></a>
      </div>
    </div>
  </div>
</li>
