<li>
  <div class="clearfix comment-container">
    <div class="comment-user">
      <img src="" class="comment-user-img" alt="" />
    </div>
    <div class="comment">
      <div class="comment-prsn clearfix">
        <p class="comment-creator">&nbsp;</p>
        <span class="comment-time">&nbsp;</span>
        <a href="#" class="close del-comment">&times;</a>
      </div>
      <p class="comment-text">&nbsp;</p>
      <div class="comment-like-area">
        <a href="#" class="link-like-comment"></a><a href="#" class="j-show-comment-claps"><span class="comment-claps">&nbsp;</span></a>
        <a href="#" class="link-dislike-comment"></a><a href="#" class="j-show-comment-boos"><span class="comment-boos">&nbsp;</span></a>
      </div>
    </div>
  </div>
</li>
