<li>
  <div class="clearfix">
    <div class="comment-user">
      <img src="/assets/users/user-3.jpg" class="comment-user-img" alt="user" />
    </div>
    <div class="comment">
      <div class="comment-prsn clearfix">
        <p class="comment-creator">&nbsp;</p>
        <span class="comment-time">&nbsp;</span>
      </div>
      <p class="comment-text">
        &nbsp;
      </p>
    </div>
  </div>
</li>
