.qodWrapper {
  position: fixed;
  top: 200px;
  right: 40px;
  width: 390px;
}

.qodContainer {
  border-radius: 10px;
  background: rgba(128, 128, 128, 0.68);
  padding: 15px;
  width: 100%;
  overflow: scroll;
  height: 300px;
}

.qodQuestion {
  display: none;
  padding-bottom: 5px;
  font-family: 'Helvetica';
  font-size: 18px;
  font-weight: 700;
  padding-left: 10px;
  border-bottom: 3px solid;
  border-bottom-color: rgba(220, 220, 220, 0.68);
  border-bottom-style: dotted;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.qodQuestion span.question {
  display: block;
  position: relative;
  left: 10px;
}

.qodQuestion div.meta {
  font-size: 11px;
  color: rgba(245, 222, 179, 0.6);
  position: relative;
  left: 10px;
}

.qodQuestion .meta .when {
  float: right;
  margin-right: 30px;
}

.loaderOverlay {
  min-height: 300px;
  background: rgba(0, 0, 0, 0.6);
  /*padding-top: 100px;*/
}

.loaderOverlay img {
  display: block;
  position: relative;
  left: 50%;
}

.loaderOverlay span {
  font-size: 18px;
  font-family: 'Oregano';
  position: relative;
  left: 20%;
  top: 10px;
}

.answerHeading {
  position: relative;
  padding: 10px 0 0 12px;
  font-size: 16px;
  font-weight: 700;
}

ul.qodAnswers {
  padding-top: 15px;
  list-style: none;
  position: relative;
  left: -11px;
}

li.qodAnswer {
  padding: 4px 2px 4px 7px;
  border-bottom: 1px solid;
  border-bottom-style: dotted;
}

li.qodAnswer:first-child {
  border-top: 1px solid;
  border-top-style: dotted;
}

li.qodAnswer:last-child {
  border: none;
}

.answerText {
  display: block;
}

.answerTime {
  float: right;
  font-size: 11px;
  color: rgba(245, 222, 179, 0.6);
  margin-right: 8px;
}

.qodForm label{
  font-size: 16px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 5px;
  color: white;
}

.qodForm textarea {
  width: 100%;
}

.qodForm .charsLeft {
  font-size: 14px;
  color: white;
  padding-top: 4px;
  float: right;
}

.qodForm .counter.safe {
  color: green;
  font-weight: 700;
}

.qodForm .counter.over {
  color: red;
  font-weight: 700;
}
