<div class="footer">
  <div class="footer-content">
    <ul class="clearfix">
      <li>
        <ul>
          <li>
            <h3>Products</h3>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">FAQs</a>
          </li>
          <li>
            <a href="#">Talk to Us</a>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            <h3>Solutions</h3>
          </li>
          <li>
            <a href="#">How it Works</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Terms &amp; Conditions</a>
          </li>
        </ul>
      </li>
      <li class="last">
        <div class="social-wrap clearfix">
          <div class="social-links clearfix">
            <a href="#" class="icon-twitter">Twitter</a>

            <a href="#" class="icon-fb">Facebook</a>
            <a href="#" class="icon-blog">Blog</a>
          </div>
        </div>
        <p class="copy-right">
          &copy; 2012. Purple Rock Online Services LLP
        </p>
      </li>
    </ul>
  </div>
</div><!-- Footer -->
