<footer class="footer">

<div class="footer-content">
  <div class="three-col">
    <div class="col1">
      <ul>
        <li>
        <a href="/about">About Us - Behind the scenes</a>
        
        </li>
        <li>
        <a href="/faq">FAQs - Let questions be answered</a>
        
        </li>
        <li>
        <a href="/contact">Talk To Us - Shout out once! </a>
        
        </li>
      </ul>
  </div>
  <div class="col2">
    <ul>
      <li>      
        <a target="_blank" href="http://aapaurmainblog.wordpress.com/">Blog-We are powerful thinkers</a>
      </li>
      <li>
      <a href="/privacy">Privacy Policy - Your private space</a>
       
      </li>
      <li>
      <a href="/tnc">Terms &amp; Conditions - Rules of the Land</a>
      </li>
    </ul>
  </div>
  <div class="col3">
    <ul>
      <li>
      <a target="_blank" href="http://www.facebook.com/indianmarriages">Facebook</a>
      </li>
      <li>
      <a target="_blank" href="https://twitter.com/aapaurmain">Twitter</a>
      </li>
      <li>
        <%= link_to "How It Works",  :controller => "static_pages", :action => "how_it_works" %>
      </li>
    </ul>
  </div>
</div>
</div>
</footer>
