<div class="footer">
  <div class="footer-content">
    <ul class="clearfix">
      <li>
        <ul class="first-col">
          <li>
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/faq">FAQs</a>
          </li>
          <li>
            <a href="/contact">Talk to Us</a>
          </li>
        </ul>
      </li>
      <li>
        <ul class="second-col">
<!--           <li>
            <a href="/howitworks">How it Works</a>
          </li> -->
          <li>
            <a href="/privacy">Privacy Policy</a>
          </li>
          <li>
            <a href="/tnc">Terms &amp; Conditions</a>
          </li>
        </ul>
      </li>
      <li class="last">
        <div class="social-wrap clearfix">
          <div class="social-links clearfix">
            <a href="http://twitter.com/AapAurMain" class="icon-twitter" target="_blank">Twitter</a>
            <a href="https://www.facebook.com/aapaurmain" class="icon-fb" target="_blank">Facebook</a>
            <a href="http://aapaurmainblog.wordpress.com" class="icon-blog" target="_blank">Blog</a>
          </div>
        </div>
        <p class="copy-right">
          &copy; 2013. Purple Rock Online Services LLP
        </p>
      </li>
    </ul>
  </div>
</div><!-- Footer -->
